﻿body
{
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-size:small;
	top:0px;
    background-color:#F5F5F5;
}

.divTopBar {
	     
	    position:relative;
	    color:White;
	    font-size:.9em;
	    position:relative;
	    height:26px;
        background:  url('../Images/gray_menu_bg.jpg');
        width:100%;
        top: 0px;
        left: -8px;
        right:-8px;
}
.divContentTop {
	margin-left:-8px;
	margin-right:0px;
	margin-bottom:8px;
	margin-top:0px;
	position:relative;
	width:100%;
    height:100%;
	background-color:White;
	/*background:   url('../Images/DarkGray.png');*/
}


.divContentMain {
	
	width:1000px;
    background-color:White;
    height:100%;
    margin-top:105px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:5px;
    position:relative;
    
}

.divContentFooter {
	     
	    color:White;
	    font-size:.8em;
	    position:relative;
	    height:80px;
        text-align: center;
        background:   url('../Images/head_bg.gif');
        width:100%;
        top: 50px;
        left: 0px;
        right:0px;
}
.divContentMenu
{
	margin-top:5px;
    margin-bottom:5px;
	width:1000px;   
    height:100%;
    
    /*margin-right:auto;
    margin-left:auto;*/
  

}

.divMenuPanel {
	border-color:  #cbcbcb;
    border-style: solid;
    border-width: 1px;
    height:100%;
    margin-bottom:10px;
     
    background-image: url('../Images/gray_menu_bg.jpg');
	}	

.LabelStyle 
{
	font-family:'Visual Geez Unicode',Nyala, 'Power Geez Unicode1';
	font-size: small;
	font-weight:normal;
	color:Gray;
    text-align: left;
}


/* ========================Default Grid View=====================================*/

.tablestyle 
{
	font-family: arial;
	font-size: small;
	border: solid 1px #7f7f7f;
}

.altrowstyle 
{
    background-color: #edf5ff;
}

.headerstyle th 
{
    background: url(../Images/sprite.png) repeat-x 0px 0px;
    border-color: #989898 #cbcbcb #989898 #989898;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #000;
    padding: 4px 5px 4px 10px;
    text-align: center;
    vertical-align: bottom;
}  

.headerstyle th a
{
    font-weight: normal;
	text-decoration: none;
	text-align: center;
    color: #000;
	display: block;
    padding-right: 10px;
}    

.rowstyle .sortaltrow, .altrowstyle .sortaltrow 
{
    background-color: #edf5ff;
}

.rowstyle .sortrow, .altrowstyle .sortrow 
{
    background-color: #dbeaff;
}

.rowstyle td, .altrowstyle td 
{
    padding: 4px 10px 4px 10px;
    border-right: solid 1px #cbcbcb;
}

.headerstyle .sortascheader 
{
    background: url(../Images/sprite.png) repeat-x 0px -100px;
}

.headerstyle .sortascheader a 
{
    background: url(../Images/dt-arrow-up.png) no-repeat right 50%;
} 

.headerstyle .sortdescheader 
{
    background: url(../Images/sprite.png) repeat-x 0px -100px;
}   

.headerstyle .sortdescheader a 
{
    background: url(../Images/dt-arrow-dn.png) no-repeat right 50%;
} 

.PagerStyle 
{
    background-image: url(../Images/PagerWhiteChrome.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#fff;
	border-bottom:solid 1px #999;
}

.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;
}
.PagerStyle td
{
    border-top: #999999 1px solid;
}
.PagerStyle a
{
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #fff;
    border-right:solid 1px #999;
    border-bottom:solid 1px #999;
    border-left:solid 1px #fff;
}
.PagerStyle span
{
    font-weight:bold;
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/* =============================================================*/




/*=======================BreadCrumb=============================*/
.module:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
    min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/
.divBreadCrumb {
	   margin-top:2px;
	    width:980px;
        height:100%;
        margin-right:auto;
        margin-left:10px;
        margin-bottom:4px;
	}
.breadCrumb
{
    
   /* float: left;*/
    display: block;
    height: 25px;
    /*overflow: hidden;
    width: 990px;*/
    padding: 5px 0;
    background: #fff;
    margin-bottom:10px;
   /* background-image: url(../Images/gray_menu_bottom.png);*/
    background: #F9F9F9;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}
.bc-container
{
    margin: 0;
    padding: 0;
    height: 21px;
    display: block;
    margin-bottom:10px;
    margin-top:4px;
}
.bc-seperator
{
    display: block;
    float: left;
    position: relative;
    height: 21px;
    overflow: hidden;
    line-height: 21px;
    margin: 0px 6px 0px 0;
    padding: 0px 10px 0px 0;
    font-size: .9167em;
    background: url(../images/Chevron.gif) no-repeat 100% 0;
}


.breadCrumb a
{
    display: block;
    position: relative;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    float: left;
    color:#2D5883;
    text-decoration:none;
}
.bc-container .first
{
    height: 16px ;
    text-indent: -1000em;
    width: 21px;
    padding: 0;
    margin-top: 2px;
    overflow: hidden;
    background: url(../images/IconHome.gif) no-repeat 0 0;
}
.bc-container .first:hover
{
    background-position: 0 -16px;
}
.bc-container .last
{
    background: none;
    margin-right: 0;
    padding-right: 0;
}
/*==========================================*/

.SimpleText
{
	background-color: white;
	border-top: 1px solid #9DA0AA;
	border-right: 1px solid #C2C4CB;
	border-bottom: 1px solid #D9DAE0;
	border-left: 1px solid #C2C4CB;
	padding: 1px 2px;
	margin: 0px;
	height: 32px;
}



/*================callout*/
.customCalloutStyle div, .customCalloutStyle td{
    border: solid 1px #2D5883;
    background-color:#F8EAEA;
    color:Black;
}
.customCalloutStyle .ajax__validatorcallout_popup_table{
    display: none;
    border: none;
     background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_popup_table_row{
    vertical-align: top;
    height: 100%;
    background-color: transparent;
    padding: 0px;
}
 .customCalloutStyle .ajax__validatorcallout_callout_cell{
    width: 20px;
     height: 100%;
    text-align: right;
    vertical-align: top;
    border: none;
     background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_table{
height: 100%;
border: none;
 background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_table_row{
background-color: transparent;
 padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell
{
    padding: 8px 0px 0px 0px;
    text-align: right;
    vertical-align: top;
    font-size: 1px;
    border: none;
    background-color: transparent;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv{
    font-size: 1px;
    position: relative;
    left: 1px;
    border-bottom: none;
     border-right: none;
    border-left: none;
    width: 15px;
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div{
    height: 1px;
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 0px;
    margin-left: auto;
}
 .customCalloutStyle .ajax__validatorcallout_error_message_cell
{
    font-family:Visual Geez Unicode, Nyala,Power Geez Unicode1;
    font-size: 12px;
    padding: 5px;
    border-right: none;
    border-left: none;
    width: 100%;
}
.customCalloutStyle .ajax__validatorcallout_icon_cell{
width: 20px;
padding: 8px;
 border-right: none;
}
.customCalloutStyle .ajax__validatorcallout_close_button_cell{
vertical-align: top;
padding: 5px;
text-align: right;
border-left: none;
width: 15px;
}
/*================callout*/

Table
{
     padding:0px;
     
}
 
 TD
 {
        margin:2px;
        padding:2px;
}
.RoundPanel
{
    background: #F9F9F9;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    padding:6px;
} 
/*================callout*/

Table
{
     padding:0px;
    }
 
.RoundPanelToolbar
{
    background: #F5F5F5;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    padding:6px;
}


.Mandatory
{
    background-color:Red;
    
}


/*==================Buttons====================*/


.btn{background-color:#ffffff;background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(#ffffff, #ffffff 5%, #ffffff);
}.btn:hover{background-position:0 0;}
.btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#3daae9;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-image: linear-gradient(to bottom, #46aeea, #2fa4e7);
    border-left-color: #2fa4e7;
    border-right-color: #2fa4e7;
    border-top-color: #2fa4e7;
    border-bottom-color: #157ab5;
}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#ffffff;background-color:#2fa4e7;*background-color:#1a99e2;}
.btn-primary:active,.btn-primary.active{background-color:#178acc \9;}
.btn-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#9e6ab8;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-image: linear-gradient(to bottom, #a271bb, #9760b3);
    border-left-color: #9760b3;
    border-right-color: #9760b3;
    border-top-color: #9760b3;
    border-bottom-color: #6f4086;
}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#ffffff;background-color:#9760b3;*background-color:#8b51a9;}
.btn-info:active,.btn-info.active{background-color:#7d4898 \9;}
.btn-success{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#7bb33d;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-image: linear-gradient(to bottom, #80bb3f, #73a839);
    border-left-color: #73a839;
    border-right-color: #73a839;
    border-top-color: #73a839;
    border-bottom-color: #4c6f26;
}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#ffffff;background-color:#73a839;*background-color:#669533;}
.btn-success:active,.btn-success.active{background-color:#59822c \9;}
.btn-warning{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#ec5c00;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-image: linear-gradient(to bottom, #f76000, #dd5600);
    border-left-color: #dd5600;
    border-right-color: #dd5600;
    border-top-color: #dd5600;
    border-bottom-color: #913800;
}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#ffffff;background-color:#dd5600;*background-color:#c44c00;}
.btn-warning:active,.btn-warning.active{background-color:#aa4200 \9;}
.btn-danger{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#d41e24;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-image: linear-gradient(to bottom, #dd1f26, #c71c22);
    border-left-color: #c71c22;
    border-right-color: #c71c22;
    border-top-color: #c71c22;
    border-bottom-color: #841317;
}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#ffffff;background-color:#c71c22;*background-color:#b1191e;}
.btn-danger:active,.btn-danger.active{background-color:#9a161a \9;}
.btn-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#034482;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-image: linear-gradient(to bottom, #04498c, #033c73);
    border-left-color: #033c73;
    border-right-color: #033c73;
    border-top-color: #033c73;
    border-bottom-color: #011528;
}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#ffffff;background-color:#033c73;*background-color:#022f5a;}
.btn-inverse:active,.btn-inverse.active{background-color:#022241 \9;}
i[class^="icon-"]{opacity:0.8;}
.pull-right{float:right;}
.pull-left{float:left;}
.hide{display:none;}
.show{display:block;}
.invisible{visibility:hidden;}
.affix{position:fixed;}

/*================End Buttons*/

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.navbar .brand {
  padding: 14px 20px 16px;
  font-family: 'Telex', sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}
.navbar-inner {
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #45aeea;
    background-repeat: repeat-x;
    border: 1px solid #1990d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    zoom: 1;
    background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7);
}
.navbar-inner:before,
.navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar-inner:after {
  clear: both;
}
.navbar .container {
  width: auto;
}
.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 15px 20px 15px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 0 1px 0 #54b4eb;
}
.navbar .brand:hover {
  text-decoration: none;
}
.navbar-static-top {
  position: static;
  margin-bottom: 0;
}
.navbar-static-top .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.navbar-fixed-top {
  top: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}


/*==========*/
.btn-toolbar {
	font-size:16px;
	font-family:'Visual Geez Unicode';
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:9px 18px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(7%, #f9f9f9), color-stop(98%, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 7%, #e9e9e9 98% );
	background:-ms-linear-gradient( top, #f9f9f9 7%, #e9e9e9 98% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	color:#666666;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.btn-toolbar:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(7%, #e9e9e9), color-stop(98%, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 7%, #f9f9f9 98% );
	background:-ms-linear-gradient( top, #e9e9e9 7%, #f9f9f9 98% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.btn-toolbar:active
{
    position: relative;
    top: 1px;
}
.btn-toolbar.disabled
{
    position: relative;
    top: 1px;
    background-color:black;
}

/*=================*/
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f1ceab;
  border: 1px solid #efb99e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #dd5600;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #d5ecbf;
  border-color: #d2e6ab;
  color: #669533;
    width: 366px;
}
.alert-success h4 {
  color: #669533;
}
.alert-danger,
.alert-error {
  background-color: #f2bdb1;
  border-color: #f0a5a4;
  color: #bd4247;
}
.alert-danger h4,
.alert-error h4 {
  color: #bd4247;
}
.alert-info {
  background-color: #a7dff1;
  border-color: #88e4ec;
  color: #817b58;
    width: 407px;
}
.alert-info h4 {
  color: #817b58;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
    width: 383px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

/*.dxTextBox
{	
	background-color: white;
	border-top: 1px solid #adadad;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #bfbfbf;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	-o-border-radius: 4px;

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
    -o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
	
}*/
/*.dxTextBox
{
	width: 234px;
	height: 25px;
    color: #201f35;
   
}*/
/*.dxTextBox 
{
	padding: 1.5px 3px 2.5px 6px !important;
}
.dxTextBox input
{
	margin: 0 !important;
}
.dxTextBox .dxEditArea
{
	background-color: transparent;
}*/


.TextBox
{
    background-color: white;
    border-color: #AFB1B6;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 1px rgba(0, 0, 0, .08) inset,
				0 1px rgba(255, 255, 255, .5);
    overflow:hidden;
    cursor: default;
    padding: 9px 6px 6px 8px;
}
 
.TextBox
{
    font-size: small; 
    color: #385487;
    font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    /*background-color: transparent;*/
}

.ComboBox
{
     background-color: white;
    border-color: #AFB1B6;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 1px rgba(0, 0, 0, .08) inset,
				0 1px rgba(255, 255, 255, .5);
    overflow:hidden;
    cursor: default;
    /*padding: 9px 6px 6px 8px;*/
}
 
.ComboBox input
{
    color: #385487;
    font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    font-weight: normal;
    font-size: small;
    padding: 0px;
    margin: 0px 2px;
    border-width: 0px;
    background-color: transparent;
    width: 40px;
}


.close-btn {
    position: absolute;
    right: 6px;
    top: 0;
    cursor: pointer;
}

.close-btn:hover {
    opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
 .message-box {
    width: 270px;
    display: inline;
    height: auto;
    padding: 25px 15px;
    position: fixed;
    right: -620px;
    top: 120px;
    font-size: 15px;
    color: #fff;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f1ceab;
    border: 1px solid #efb99e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   
}

 .success {
    background-color: #d5ecbf;
    border-color: #d2e6ab;
    color: #669533;
}

.error {
        background-color: #f2bdb1;
        border-color: #f0a5a4;
        color: #bd4247;
}

.info {
    background-color: #a7dff1;
    border-color: #88e4ec;
    color: #817b58;
}

