
body {
	
	background-color:White;
	line-height:1.2em;
	font-family: Visual Geez Unicode, Arial, sans-serif;
	font-size:small;
	text-align:left;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background:  url(../Images/background_body.gif)  ; 
     
}
#divTop {
	
	width:100%;
	height:27px;
    background:  url(../Images/sprite.png) ; 
	 
}

#divContentTop {
	
	width:1005px;
	position:relative;
	 margin-top:0px; 
	margin-left:auto;
	margin-right:auto;
	background-color:White;
	border-top:solid 1px gray;
	border-right:solid 1px gray;
	border-left:solid 1px gray;
	/*
	background-color:#DCE5F2;
    background-color:White;
    background:  url(../Images/Logo/logo.gif) no-repeat ; 
	height:100px;
margin-bottom:15px;
	*/
}


#divMainPage {
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	padding:0px; 
    background-color:White;
	width:1005px;
	position:relative;
	top: 0px;
	left: 0px;
	height:1200px;
	border-top:solid 1px gray;
	border-right:solid 1px gray;
	border-left:solid 1px gray;
	border-bottom:solid 1px gray;
}
/*

#divContentMain {
	margin-top:2px;
	margin-left:5px;
	width:990px;
    background-color:White;
	}
*/
#divContentFooter {
	   
        width:100%;
        /*margin: 4px 2px;
	    padding:.8em 0 1em 20px;*/
	    margin-top:0px;
	    margin-left:auto;
	    margin-right:auto;
	    margin-bottom:0px;
	    padding:0px;
	    position:relative;
	    color:#a9c0db;
	    font-size:.8em;
	    position:relative;
	    background-color:White;
        text-align: center;
        height:30px;
        background:url(../Images/sprite.png) repeat;
}

#divContentFooter a:link,
#divContentFooter a:visited {
	color:#FFFFFF;
	text-decoration:none;
}

#divContentFooter a:hover {
	color:#D4E7F8;
	text-decoration:none;
}

#divContentFooter a:active {
	color:#FFFFFF;
}

#divContentMenu
{
	background:   url('../Images/GreenBG.jpg') ; 
	width:990px;
	font-family:verdana,tahoma,helvetica;
    font-size:10pt;
   /* padding:0.1em 0.1em;*/
    border:solid 1px #808080;
    margin-left:3.7px;
    height:35px;

}
#divBottomMenu {
	    width:990px;
	    background:   url('../Images/gray_menu_bottom.png') ;
	    border:solid 1px #808080;
	    font-family:verdana,tahoma,helvetica;
        font-size:8pt;
        padding:0 0 1px;
        margin-left:3.7px;
        height:20px;
	}
/*
    Menu
*/
.MainMenu, .MenuItem
{
	color:White;
	font-size:small;
	font-weight:bold;
    text-align: left;
     height:25px;
}
.Mainmenu a:Link, a:Visited, a:Active 
{
     color:White;
}
.Mainmenu a:hover

{
     color:White;
     font-weight:bold;
}

.staticMenuItemStyle {
    text-align:left;
    display:block;
    padding-left:2px;
    padding-right:2px;
    margin-left:0;
      height:18px;
    
}

.staticMenuItemSelectedStyle {
    /*border:solid 1px #000;*/
    background-image:url(../Images/sprite.png) repeat;
    background-color:White;
   
}

.staticHoverStyle {
    background-image:url( Images/sprite.png) #bfdaff repeat ;
    background-color:White;
    
}
.dynamicMenuItemStyle {
    border:solid 1px #CCC;
    background-color:White;
    color:Black;
    z-index:200;
    position:relative;
    background-image:url( Images/footer.jpg) #bfdaff repeat ;
   height:18px;
}

.p.Amharic
{
	font-family:Visual Geez Unicode, Nyala, Power Geez Unicode1;
}
p {

	margin-left:5px;
	margin-right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 799px;
	
}

p.no-padding-no-margin {
	padding:0;
	margin:0;
	}
	
hr{
	color: #E5E5E5;
	background-color: #E5E5E5;
	height: 1px;
	border:0;
	margin:1px 0;
	_margin:1
}

li
{
    font-size:9pt;
	line-height:.5em;
	font-weight:normal;
    text-align: left;
    list-style-type:square;
}

.Latin
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	line-height:1.4em;
	font-weight:normal;
}



.Geez
{
	font-family:Visual Geez Unicode, Nyala,Power Geez Unicode1;
	font-size:10pt;
	line-height:1.4em;
	font-weight:normal;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LINKS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


a:link {
	color:#336699;
	text-decoration:none;
	height: 12px;
}

a:visited {
	color:#980000;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:Red;
	 
}

a:active {
	color:#980000;
}


.aTozNavigaion a{display: block;float: left;border: 1px solid #ccc;font-size: 13px;color: #333333;margin: 0px 3px 0px 0px;background-image: url(../images/atoz-bg.jpg);padding: 3px;width: 15px;text-align: center;}
.aTozNavigaion a:hover{border: 1px solid #000;border-top:#ccc; background-image:url(../images/menu-bg.gif); color: #fff; text-decoration: none;}
.aToZWrap{padding:1px;border-top:1px solid #e6e6e6;border-bottom:1px solid #fff;background-image: url(../images/a-z-wrap-bg.jpg)}
.clearBoth{clear:both;}
.gvHighlight{background-color:#ccc;}



/* captcha */
.captcha{background-image:url(images/captcha-bg.jpg);border:1px solid #fff;}

.RoundPanel
{
    background: #F9F9F9;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    padding:6px;
} 
