﻿
.messageInformational, .messageError, .messageWarning
{
	border: 1px solid #000;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
	text-align: center;
	background-color: #fff;
	color: #000;
	background-repeat: no-repeat;
	background-position: left center;
}

.messageError
{
	background-color: #fdd;
	border-color: #933;
	background-image: url(../Images/Error.gif);
	padding-left: 5px;
	position: relative;
}




.messageInformational
{
	background-color: #ffc;
	border-color: #993;
	background-image: url(../Images/Info.gif);
	position: relative;
	padding-left: 5px;
}
.messageWarning ul
{
	margin-top: 5px;
	margin-bottom: 0;
}
