﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: White;
    background-color: #5078B3;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
    -font-family: Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    color:White;
    padding-top: 10px;
}
#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}
.backGroundedBox
{
    background: #eee;
    width: 100%;
    padding: 5px;
    border: solid 1px #ccccdd;
    height: 62px;
}
.actionButton a,a:hover,a:visited
{
	text-decoration:none;
	font-weight:bold;
}
.actionButton a,a:visited
{
	text-decoration:none;
	font-weight:bold;
	color:#667766;
}
.actionButton a:hover
{
	color:black;
}
.actionButtonSingle {
	height:23px;
	margin-right:6px;
	margin-top:4px;
}
.actionButton
{
	
}
.successMessage
{
	color:green;
	font-weight:bold;
}
.fullWidth
{
	width:97%;
    margin-top: 0px;
    margin-bottom: 14px;
}
/*The following class is added to be used for drop-down list boxes 
whenever they are grouped with tex boxes*/
.fullWidthPlus
{
}
.errorMessage
{
	color:Red;
}
.requiredValueIndicator
{
	color:Red;
}
.requiredValueIndicator
{
	color:Black;
}
.invalidValueIndicator
{
	color:Red;
}
.mainHeaderBackGround {
    background-color: #4b6c9e;
    width: 100%;
}
.mainHeaderBackGroundRow
{
    height:25px; 
    text-align:left;
    vertical-align:middle;
}

.divContentFooter {
    color: White;
    font-size: .8em;
    position: relative;
    height: 80px;
    text-align: center;
    background-image: url('Images/head_bg.gif');
    width: 1000px;
    top: 0px;
    left: 0px;
    right: 0px;
    width:100%;
}
.titleText
{
    color:White;
    vertical-align:middle;
    text-align:right;
    font-weight:bold;
    font-Size: Large;
}
.messageAligment
{
    text-align:center;   
}
.footer
{
    color: #C0C0C0;
    font-style: italic;
    text-align: center;
}
.headerT
.headerText
{
    background: none repeat scroll 1px 50%  #eee;
    border-color:White;
    border-bottom: 3px solid #CCCCDD;
    border-right: 3px solid #CCCCDD;
    border-left: 1px solid #CCCCDD;
    border-top: 1px solid #CCCCDD;
    color: Black;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
}
CalloutHighlight 
{
    background-color: rosybrown;
}
.validationError 
{
    background-color:#EEEEEE;
    font-weight:bold;
}
.pageTitle
{
    font-family: Nyala;
    font-size: xx-large;
    font-weight: 500;
    font-style: normal;
    color: #C0C0C0;
    text-transform: capitalize;
}
.outerTable
{
    border: 1px solid #EFEFEF;
    margin-left: 5px; 
    width:70%;    
}
.bc-container
{
    padding: 0;
    display: block;
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
}
.bc-seperator
{
    display: block;
    float: left;
    position: relative;
    height: 21px;
    overflow: hidden;
    line-height: 21px;
    margin: 0px 6px 0px 0;
    padding: 0px 10px 0px 0;
    font-size: .9167em;
    background: url(../images/Chevron.gif) no-repeat 100% 0;
}
.bc-container .first
{
    height: 16px ;
    text-indent: -1000em;
    width: 21px;
    padding: 0;
    margin-top: 2px;
    overflow: hidden;
    background: url(../images/IconHome.gif) no-repeat 0 0;
}
.bc-container .first:hover
{
    background-position: 0 -16px;
}
.bc-container .last
{
    background: none;
    margin-right: 0;
    padding-right: 0;
}
.divBreadCrumb
{
    margin-top: 2px;
    width: 980px;
    height: 100%;
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 4px;
}
.breadCrumb
{    
    display: block;
    height: 25px;
    background: #fff;
    margin-bottom:10px;
    background: #F9F9F9;
    border: 1px solid #f1f1f1;
}
.divContentMain
{	
	width:100%;
    background-color:White;
    height:100%;
    margin-top:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:5px;
    position:relative;
}