/*Warning - Some <%= are replaced with < %= to overcome parser exceptions */
/* CheckBox */
.dxICBFocused
{
}
.dxICheckBox
{
    cursor: default;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}

/* -- ASPxCallbackPanel -- */
.dxcpLoadingPanel,
.dxcpLoadingPanelWithContent
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxcpLoadingPanel td.dx,
.dxcpLoadingPanelWithContent td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxcpLoadingPanel td.dx:first-child,
.dxcpLoadingPanelWithContent td.dx:first-child,
*[dir="rtl"] .dxcpLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxcpLoadingPanelWithContent td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxcpLoadingPanel td.dx:last-child,
.dxcpLoadingPanelWithContent td.dx:last-child,
*[dir="rtl"] .dxcpLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxcpLoadingPanelWithContent td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;	
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxcpLoadingPanel td.dx:first-child:last-child,
.dxcpLoadingPanelWithContent td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxcpLoadingPanel td.dx + td.dx,
.dxcpLoadingPanelWithContent td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxcpLoadingPanel td.dx + td.dx,
*[dir="rtl"] .dxcpLoadingPanelWithContent td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxcpLoadingDiv
{
	background-color: #C9CACB;
	opacity: 0.01;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
/* Disabled */
.dxcpDisabled
{
	color: #bbb;
	cursor: default;
}

/* -- ASPxCloudControl -- */
.dxccControl
{
	font: bold 17px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-decoration: none;
	border: none;
}
.dxccControl *
{
	font-size: 17px !important;
}
.dxccControl td > a,
.dxccControl td > span	/* selector's duplicate for design-time */
{
	background-color: #1879F2;
}
.dxccControl td > a,
.dxccControl td > span
{
	padding: 11px 10px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: rgba(24, 121, 242, 1);
}
.dxccControl td > a[dir="rtl"],
.dxccControl td > span[dir="rtl"]
{
	margin-right: 0px;
	margin-left: 5px;
}
.dxccControl a
{
	color: #FFF;
	text-decoration: none!important;
}
.dxccControl .dxccRank7
{
	background-color: #1879F2;
}
.dxccControl .dxccRank7
{
	background-color: rgba(24, 121, 242, 1);
}
.dxccControl .dxccRank6
{
	background-color: #2F86F3;
}
.dxccControl .dxccRank6
{
	background-color: rgba(24, 121, 242, 0.9);
}
.dxccControl .dxccRank5
{
	background-color: #4694F5;
}
.dxccControl .dxccRank5
{
	background-color: rgba(24, 121, 242, 0.8);
}
.dxccControl .dxccRank4
{
	background-color: #74AFF7;
}
.dxccControl .dxccRank4
{
	background-color: rgba(24, 121, 242, 0.6);
}
.dxccControl .dxccRank3
{
	background-color: #8BBCF8;
}
.dxccControl .dxccRank3
{
	background-color: rgba(24, 121, 242, 0.5);
}
.dxccControl .dxccRank2
{
	background-color: #B9D7FB;
}
.dxccControl .dxccRank2
{
	background-color: rgba(24, 121, 242, 0.3);
}
.dxccControl .dxccRank1
{
	background-color: #D1E4FC;
}
.dxccControl .dxccRank1
{
	background-color: rgba(24, 121, 242, 0.2);
}

/* Disabled */
.dxccDisabled
{
	color: #FFF;
	cursor: default;
}

/* -- ASPxDataView -- */
.dxdvControl 
{
	font-family:'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #787878;
	border-collapse: separate!important;
}
.dxdvControl td.dxdvCtrl
{
	border: 1px Solid #505153;
	border-radius: 5px;
	overflow: hidden;
}
.dxdvLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxdvLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxdvLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxdvLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxdvLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxdvLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxdvLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxdvLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxdvLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxdvPPSpacing {
    background-color: #505153;
}
.dxdvContent
{
   background-color: #A9ACAE;
}
.dxdvItem,
.dxdvFlowItem
{
    background-color: #D4D8DA;
	padding: 30px;
	height: 180px;
	height: expression("154px");
}
.dxdvFlowItem
{
	float: left;
	overflow: hidden;
}
.dxdvFlowItemsContainer
{
}
.dxdvEmptyItem
{
	text-align: left;
	vertical-align: top;
	padding: 12px 12px 12px 14px;
	height: 180px;
	height: expression("154px");
}
.dxdvPagerPanel
{
    background-color: #7C8087;
}
.dxdvEmptyData
{
	color: Gray;
}
/* Disabled */

.dxdvDisabled
{
	color: #808080;
	cursor: default;
}
/* -- ASPxHeadline -- */
.dxhlControl
{
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-weight: bold;
	color: #000;
	border: none;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.dxhlControl a
{
	color: #006EE9;
}
.dxhlContent
{
	color: Black;
	font-size: 13px;
} 
.dxhlDate
{
	font-size: 13px;
	color: #898A8D;
}
.dxhlHeader,
.dxhlDateHeader
{
	font-size: 18px;    
	padding-bottom: 6px;
	color: #4C566C;
}

.dxhlLeftPanel,
.dxhlRightPanel
{
	padding-top: 3px;
}
.dxhlDateLeftPanel,
.dxhlDateRightPanel
{
	white-space: nowrap;
}
/* Disabled */
.dxhlDisabled,
.dxhlDisabled a,
.dxhlDisabled a:hover
{
	cursor: default;
}

/* -- ASPxLoadingPanel -- */
.dxlpLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
	border: 1px solid #A6A6A6;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxlpLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxlpLoadingPanel td.dx:first-child,
.dxlpLoadingPanel[dir="rtl"] td.dx:last-child,
*[dir="rtl"] .dxlpLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxlpLoadingPanel td.dx:last-child,
.dxlpLoadingPanel[dir="rtl"] td.dx:first-child,
*[dir="rtl"] .dxlpLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxlpLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxlpLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxlpLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxlpLoadingDiv
{
	background-color: Black;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=60);
}


/* -- ASPxNavBar -- */
.dxnbControl
{
    width: 306px;
    color: #303030;
    font: bold 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    text-shadow: 0px 1px 1px #FFFFFF;
}

.dxnbControl td.dxnbCtrl
{
    border-top: 1px solid #7a8091;
}

.dxnbControl a
{
    text-decoration: none;
}

.dxnbLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
    margin: 10px;
}
.dxnbLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxnbLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxnbLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxnbLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxnbLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxnbLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxnbLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxnbLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

.dxnbControl td.dxnb
{
    direction: ltr;
}

.dxnbGroupHeader, .dxnbGroupHeaderCollapsed
{
    direction: rtl;
    border-bottom: 1px solid #999fa5;
    background-color: #f0f2f4;
    color: #ffffff;
    text-shadow: 0px 1px 1px #6f767c;
    overflow: hidden;
    cursor: pointer;
    clear: both;
    padding: 11px 16px;
    background: url('nbHeaderBack.png') repeat-x scroll left top #909faa;
}

.dxnbGroupHeader a, .dxnbGroupHeaderCollapsed a
{
    text-decoration: underline;
}

.dxnbGroupHeader td.dxnb, .dxnbGroupHeaderCollapsed td.dxnb
{
    white-space: nowrap;
}

.dxnbRtl .dxnbGroupHeader, .dxnbRtl .dxnbGroupHeaderCollapsed
{
    direction: ltr;
}

.dxnbControl .dxnbRtl td.dxnb
{
    direction: rtl;
}

.dxnbItem, .dxnbLargeItem, .dxnbBulletItem
{
    border-bottom: 1px solid #d1d4da;
    border-top: 1px solid #eceef1;
    background-color: #e2e5ea;
    clear: both;
    overflow: hidden;
    cursor: default;
    padding: 11px 45px;
}

.dxnbItemSelected, .dxnbLargeItemSelected, .dxnbBulletItemSelected
{
    color: #ffffff;
    text-shadow: 0px -1px 1px #000000;
    padding: 12px 45px;
    border-bottom: none;
    border-top: none;
    background: url('nbSelBack.png') repeat-x scroll left top #058bf5;
}

.dxnbItemSelected a, .dxnbLargeItemSelected a, .dxnbBulletItemSelected a
{
    color: #ffffff;
    text-shadow: 0px -1px 1px #000000;
}

.dxnbGroupHeader, .dxnbGroupHeaderCollapsed
{
    text-align: left;
}

.dxnbItem, .dxnbItemHover, .dxnbItemSelected, .dxnbBulletItem, .dxnbBulletItemHover, .dxnbBulletItemSelected
{
    text-align: left;
}

.dxnbLargeItem, .dxnbLargeItemHover, .dxnbLargeItemSelected
{
    text-align: center;
}

.dxnbGroupSpacing, .dxnbItemSpacing
{
    
}

.dxnbItemSelected.dxnbItem.dxnbImgCellLeft, .dxnbLargeItemSelected.dxnbItem.dxnbImgCellLeft, .dxnbBulletItemSelected.dxnbItem.dxnbImgCellLeft
{
    padding: 6px 15px 6px 45px;
}

.dxnbItemSelected.dxnbItem.dxnbImgCellRight, .dxnbLargeItemSelected.dxnbItem.dxnbImgCellRight, .dxnbBulletItemSelected.dxnbItem.dxnbImgCellRight
{
    padding: 6px 45px 6px 15px;
}

.dxnbImgCellLeft
{
    padding: 5px 0 0 13px;
}

.dxnbItem.dxnbImgCellRight
{
    padding: 5px 45px 5px 15px;
}

.dxnbGroupHeaderCollapsed .dxnbImgCellLeft
{
    padding: 1px 0 0 13px;
}

.dxnbGroupHeaderCollapsed .dxnbImgCellRight
{
    padding: 1px 13px 0 0;
}

.dxnbItem.dxnbImgCellLeft
{
    padding: 5px 15px 5px 45px;
}

.dxnbImgCellRight
{
    padding: 5px 13px 0 0;
}
.dxnbLargeItemImgTop
{
    padding-bottom: 5px;
}
.dxnbLargeItemImgBottom
{
    padding-top: 5px;
}

.dxnbDisabled, .dxnbDisabled td.dxnb, td.dxnbDisabled a
{
    color: #A6A6A6;
    cursor: default;
}

.dxnbDisabled td.dxnb, .dxnbDisabled td.dxnb
{
    color: #777777;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite
{
    list-style: none none outside;
    margin: 0;
    padding: 0;
    float: left;
    width: 306px;
    color: #303030;
    font: bold 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    text-shadow: 0px 1px 1px #FFFFFF;
}
.dxnbLite a
{
    text-decoration: none !important;
}
        
.dxnbLite .dxnb-gr:first-of-type .dxnb-header, 
.dxnbLite .dxnb-gr:first-of-type .dxnb-headerCollapsed
{
    border-top: 1px solid #7a8091;
}
        
.dxnbLite .dxnb-header, 
.dxnbLite .dxnb-headerCollapsed
{
    border-bottom: 1px solid #999fa5;
    border-top: 1px solid #e2e5ea;
    background-color: #f0f2f4;
    color: #ffffff;
    text-shadow: 0px 1px 1px #6f767c;
    overflow: hidden;
    cursor: pointer;
    clear: both;
    padding: 11px 16px;
    background: url('nbHeaderBack.png') repeat-x scroll left top #909faa;
}
        
.dxnbLite .dxnb-content
{
    list-style: none none outside;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
        
.dxnbLite .dxnb-item, 
.dxnbLite .dxnb-large, 
.dxnbLite .dxnb-bullet
{
    border-bottom: 1px solid #d1d4da;
    border-top: 1px solid #eceef1;
    background-color: #e2e5ea;
    clear: both;
    overflow: hidden;
    cursor: default;
    padding: 11px 45px;
}
        
.dxnbLite .dxnb-bullet, 
.dxnbLite .dxnb-bulletHover, 
.dxnbLite .dxnb-bulletSelected
{
    overflow: visible;
}
        
.dxnbLite .dxnb-itemSelected, 
.dxnbLite .dxnb-largeSelected, 
.dxnbLite .dxnb-last.dxnb-itemSelected, 
.dxnbLite .dxnb-last.dxnb-largeSelected
{
    color: #ffffff;
    text-shadow: 0px -1px 1px #000000;
    padding: 12px 45px;
    border-bottom: none;
    border-top: none;
    background: url('nbSelBack.png') repeat-x scroll left top #058bf5;

}

.dxnbLite .dxnb-itemSelected a, 
.dxnbLite .dxnb-largeSelected a, 
.dxnbLite .dxnb-last.dxnb-itemSelected a, 
.dxnbLite .dxnb-last.dxnb-largeSelected a
{
    color: #ffffff;
    text-shadow: 0px -1px 1px #000000;
}
        
.dxnbLite .dxnb-header, 
.dxnbLite .dxnb-headerCollapsed, 
.dxnbLite .dxnb-item, 
.dxnbLite .dxnb-itemHover, 
.dxnbLite .dxnb-itemSelected, 
.dxnbLite .dxnb-bullet, 
.dxnbLite .dxnb-bulletHover, 
.dxnbLite .dxnb-bulletSelected
{
    text-align: left;
}
        
.dxnbLite .dxnb-large, 
.dxnbLite .dxnb-largeHover, 
.dxnbLite .dxnb-largeSelected
{
    text-align: center;
}
        
.dxnbLite .dxnb-last,
.dxnbLite.dxnb-noHeads .dxnb-last
{
    border-bottom: 1px solid #e2e5ea;
}
        
.dxnbLite .dxnb-headerCollapsed .dxnb-btn
{
    margin: 3px 15px 0 0;
}
        
.dxnbLite .dxnb-btn
{
    margin: 5px 15px 0 0;
    float: left;
}
        
.dxnbLite .dxnb-btnLeft
{
    margin: 5px 0 0 15px;
    float: right;
}
        
.dxnbLite .dxnb-headerCollapsed .dxnb-btnLeft
{
    margin: 3px 0 0 15px;
}
        
.dxnbLite .dxnb-img
{
    float: left;
    margin: -5px 15px 0 0;
}
        
.dxnbLite .dxnb-right .dxnb-item .dxnb-img, 
.dxnbLite .dxnb-rtlHeader .dxnb-img
{
    float: right;
    margin: -5px 0 0 15px;
}
        
.dxnbLite .dxnb-top .dxnb-large .dxnb-img
{
    margin-bottom: 5px;
}
        
.dxnbLite .dxnb-bottom .dxnb-large .dxnb-img
{
    margin-top: 5px;
}
        
.dxnbLite .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
        
.dxnbLiteDisabled, 
.dxnbLite .dxnbLiteDisabled, 
.dxnbLiteDisabled a, 
.dxnbLiteDisabled .dxnb-item, 
.dxnbLiteDisabled .dxnb-large, 
.dxnbLiteDisabled .dxnb-bullet, 
.dxnbLiteDisabled .dxnb-header, 
.dxnbLiteDisabled .dxnb-headerCollapsed
{
    color: #A6A6A6;
    cursor: default
}

.dxnbLiteDisabled .dxnb-header, 
.dxnbLiteDisabled .dxnb-headerCollapsed
{
    color: #777777;
}

/* -- ASPxNewsControl -- */
.dxncControl
{
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-weight: bold;
	font-size: 13px;
	color: #000;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	border: none;
}
.dxncControl a
{
	color: #006EE9;
}
.dxncControl td.dxncCtrl
{
	padding: 0;
}
.dxncLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxncLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxncLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxncLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxncLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxncLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxncLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxncLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxncLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxncContent
{
	padding: 16px 0px 37px 19px;
}
.dxncControl[dir="rtl"] .dxncContent
{
	padding: 16px 19px 37px 0px;
}
.dxncPagerPanel
{
	padding: 19px 0;
}
.dxncControl .dxncPPSpacing
{
	background: url('ncPagerPanelSpacingBack.png') repeat-x;
}
.dxncItem
{
	vertical-align: top;
	border-style: none;
	padding: 15px 0 17px;
}
.dxncEmptyItem
{
	vertical-align: top;
	padding: 12px 12px 12px 14px;
}
.dxncBackToTop
{
	text-align: right
}
.dxncControl[dir="rtl"] .dxncBackToTop
{
	text-align: left;
}
.dxncBackToTop a
{
	color: #006EE9;
	text-decoration: none;
	border-bottom: 1px dashed #006EE9;
}
/* Headline */
.dxncItemHeader,
.dxncItemDate,
.dxncItemContent
{
	padding-right: 19px;
}
.dxncControl[dir="rtl"] .dxncItemHeader,
.dxncControl[dir="rtl"] .dxncItemDate,
.dxncControl[dir="rtl"] .dxncItemContent
{
	padding-left: 19px;
	padding-right: 0;
}
.dxncItemContent
{
	color: Black;
}
.dxncItemContent:last-child,
.dxncItemTail:last-child
{
	/* with Back to top */
	background: url('ncPagerPanelSpacingBack.png') repeat-x;
	background-position: bottom;
	padding-bottom: 16px;
}
.dxncItem table:last-child .dxncItemContent,
.dxncItem table:last-child .dxncItemTail
{
	/* without Back to top */
	background: none;
	padding-bottom: 0;
}
.dxncItemDate
{
	color: #898A8D;
}
.dxncItemHeader
{
    font-size: 18px;    
	padding-bottom: 6px;
	color: #4C566C;
}
.dxncItemLeftPanel,
.dxncItemRightPanel
{
	padding-top: 3px;
}
.dxncItemDateLeftPanel,
.dxncItemDateRightPanel
{
	white-space: nowrap;
}
.dxncEmptyData
{
	color: Black;
}
/* Disabled */
.dxncDisabled,
.dxncDisabled a,
.dxncDisabled a:hover
{
	cursor: default;
}

/* -- ASPxPopupControl -- */
.dxpcControl 
{
    box-shadow: 0 7px 40px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.dxpcHeader
{
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.dxpcAlert .dxpcFooter td.dxpc,
.dxpcAlert .dxpcHeader td.dxpc
{
    color: #FFFFFF;
	text-shadow: 0 1px 1px #252B3D;
}

.dxpcControl > table > tbody > tr:first-child > .dxpcContent 
{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.dxpcControl > table > tbody > tr:last-child > .dxpcContent 
{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.dxpcFooter td.dxpc,
.dxpcHeader td.dxpc
{
    color: #6C737A;
	text-shadow: 0 1px 1px #E2E2E2;
	font-weight: bold;
	font-size: 20px;
	white-space: nowrap;
}
.dxpcControl
{
	font: 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	cursor: default;
	color: #000000;
	background-color: #FFFFFF;
	border: 0px;
	width: 200px;
}

.dxpcControl a
{
	color: #3F7ABE;
}
.dxpcControl a:hover
{
	color: #2C4D79;
}
.dxpcCloseButton
{
	cursor: pointer;
	padding: 6px 4px 4px 6px;
}
.dxpcAlert .dxpcCloseButton
{	
	padding: 4px 6px 6px 6px;
}

.dxpcCloseButtonHover
{
}
.dxpcContent
{
	color: #000000;
	line-height: 128%;
	white-space: normal;
	vertical-align: top;
	border: 1px Solid;
	border-color: rgba(0,0,0,0.15);
	background-clip: padding-box;
}

.dxpcAlert .dxpcContent
{
    border: 7px Solid #000B29;
}

.dxpcContentPaddings 
{
	padding: 14px 20px 15px;
}
.dxpcFooter
{
    border-left: 1px Solid;
    border-right: 1px Solid;
    border-bottom: 1px Solid;
    border-color: rgba(0,0,0,0.15);
	background-clip: padding-box;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.dxpcAlert .dxpcFooter
{
    background-color: #000B29;
    border: 0px;
}
.dxpcFooter td.dxpc
{
	padding: 9px 5px 8px 14px;
}

.dxpcHeader 
{
    background: #ABAFBC url('pcHeaderBack.png') repeat-x top;
	border: 1px Solid;
    border-color: rgba(0,0,0,0.15);
	background-clip: padding-box;	
	padding-bottom: 0px;
}

.dxpcAlert .dxpcHeader 
{
    border: 1px Solid #000B29;
    background: #000B29 url('pcHeaderBackAlert.png') repeat-x top;	
}

.dxpcAlert .dxpcHeader td.dxpc 
{
	padding: 1px 0px 4px 0px;
}
.dxpcHeader td.dxpc
{
	padding: 8px 0px 3px 0px;	
}
.dxpcModalBackground
{
	background-color: #000000;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}
.dxpcLoadingPanel,
.dxdpLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxpcLoadingPanel td.dx,
.dxdpLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxpcLoadingPanel td.dx:first-child,
.dxdpLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxpcLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxdpLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxpcLoadingPanel td.dx:last-child,
.dxdpLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxpcLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxdpLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxpcLoadingPanel td.dx:first-child:last-child,
.dxdpLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxpcLoadingPanel td.dx + td.dx,
.dxdpLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxpcLoadingPanel td.dx + td.dx,
*[dir="rtl"] .dxdpLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxpcLoadingDiv
{
	background-color: #C9CACB;
	opacity: 0.01;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
/* Disabled */
.dxpcDisabled
{
	color: #A6A6A6;
	cursor: default;
}
/* -- ASPxPopupControl Lite -- */
.dxdpLite,
.dxdpLite .dxpc-mainDiv,
.dxdpLite.dxpc-mainDiv 
{
}
.dxpc-shadow,
.dxpc-mainDiv
{
    box-shadow: 0 7px 40px rgba(0, 0, 0, 0.3);
}

.dxdzControlHor > .dxdpLite > .dxpc-mainDiv,
.dxdzControlVert > .dxdpLite > .dxpc-mainDiv
{
    box-shadow: none;
}

.dxpcLite,
.dxdpLite,
.dxpcLite .dxpc-mainDiv,
.dxpcLite.dxpc-mainDiv,
.dxdpLite .dxpc-mainDiv,
.dxdpLite.dxpc-mainDiv
{
	border-radius: 7px;
}

.dxpcLite .dxpc-header,
.dxdpLite .dxpc-header
{
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.dxpcLite,
.dxdpLite 
{
    font: 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    color: #000000;
	background-color: #FFFFFF;
	border: 0px;
	width: 200px;
	left: 0;
	top: 0;
	display: none;
	position: absolute;
	visibility: hidden;
}

.dxpcLite .dxpc-mainDiv,
.dxdpLite .dxpc-mainDiv
{
	position: relative;
}

.dxpcLite .dxpc-mainDiv,
.dxpcLite.dxpc-mainDiv,
.dxdpLite .dxpc-mainDiv,
.dxdpLite.dxpc-mainDiv 
{
	top: 0;
	left: 0;
	color: black;
}

.dxpcLite a,
.dxdpLite a 
{
	color: #3F7ABE;
}
.dxpcLite a:hover,
.dxdpLite a:hover 
{
	color: #2C4D79;
}

.dxpcLite .dxpc-link,
.dxdpLite .dxpc-link
{
	float: left;
}

.dxpcLite.dxRtl .dxpc-link,
.dxdpLite.dxRtl .dxpc-link
{
	float: right;
}

.dxpcLite a .dxpc-headerText,
.dxpcLite a .dxpc-footerText,
.dxdpLite a .dxpc-headerText,
.dxdpLite a .dxpc-footerText
{
	text-decoration: underline;
	cursor: pointer;
}

.dxpcAlert.dxpcLite .dxpc-closeBtn,
.dxpcAlert.dxdpLite .dxpc-closeBtn
{
    padding: 2px 4px 2px 6px;
}

.dxpcLite .dxpc-closeBtn,
.dxdpLite .dxpc-closeBtn  
{
	padding: 1px 4px 3px 6px;
	float: right;
}

.dxpcLite.dxRtl  .dxpc-closeBtn,
.dxdpLite.dxRtl  .dxpc-closeBtn  
{
	float: left;
}

.dxpcLite .dxpc-closeBtnHover,
.dxdpLite .dxpc-closeBtnHover
{
}

.dxpcLite .dxpc-header,
.dxdpLite .dxpc-header 
{
	background: #AAAEBB url('pcHeaderBack.png') repeat-x top;
	border: 1px Solid;
	border-color: rgba(0,0,0,0.15);
	background-clip: padding-box;
	padding: 5px 2px 7px 12px;
}

.dxpcAlert.dxpcLite .dxpc-header,
.dxpcAlert.dxdpLite .dxpc-header 
{
    border-color: #000B29;
    background: #000B29 url('pcHeaderBackAlert.png') repeat-x top;	
}

.dxpcLite .dxpc-header.dxpc-withBtn,
.dxdpLite .dxpc-header.dxpc-withBtn 
{
	padding-bottom: 4px;
}

.dxpcLite.dxRtl .dxpc-header,
.dxdpLite.dxRtl .dxpc-header 
{
	padding-right: 12px;
	padding-left: 2px;
}

.dxpcLite .dxpc-headerText,
.dxdpLite .dxpc-headerText,
.dxpcLite .dxpc-footerText,
.dxdpLite .dxpc-footerText 
{
    color: #6C737A;
	text-shadow: 0 1px 1px #E2E2E2;
	font-weight: bold;
	font-size: 20px;
	white-space: nowrap;
	float: left;
}

.dxpcAlert.dxpcLite .dxpc-headerText,
.dxpcAlert.dxdpLite .dxpc-headerText,
.dxpcAlert.dxpcLite .dxpc-footerText,
.dxpcAlert.dxdpLite .dxpc-footerText 
{
    color: #FFFFFF;
	text-shadow: 0 1px 1px #252B3D;
}

.dxpcLite .dxpc-headerText,
.dxdpLite .dxpc-headerText
{
	margin-top: 5px;
}

.dxpcLite.dxRtl .dxpc-headerText,
.dxdpLite.dxRtl .dxpc-headerText
{
	float: right;
}

.dxpcLite .dxpc-headerImg,
.dxdpLite .dxpc-headerImg
{
	float: left;
	margin: 0 4px 0 0;
}

.dxpcLite.dxRtl .dxpc-headerImg,
.dxdpLite.dxRtl .dxpc-headerImg
{
	float: right;
	margin: 0 0 0 4px;
}

.dxpcLite .dxpc-contentWrapper,
.dxdpLite .dxpc-contentWrapper 
{
	background-color: #FFFFFF;
	border-color: rgba(0,0,0,0.15);
	background-clip: padding-box;
	border-style: solid;
	border-width: 1px;
	overflow:hidden;
}

.dxpcLite > .dxpc-mainDiv > .dxpc-contentWrapper,
.dxdpLite > .dxpc-mainDiv > .dxpc-contentWrapper,
.dxpcLite.dxpc-mainDiv > .dxpc-contentWrapper 
{
    border-width: 1px;
    border-radius: none;
}
.dxpcLite > .dxpc-mainDiv > DIV:first-child.dxpc-contentWrapper,
.dxdpLite > .dxpc-mainDiv > DIV:first-child.dxpc-contentWrapper,
.dxpcLite.dxpc-mainDiv > DIV:first-child.dxpc-contentWrapper
{
    border-bottom-width: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.dxpcLite > .dxpc-mainDiv > DIV:nth-child(2).dxpc-contentWrapper,
.dxdpLite > .dxpc-mainDiv > DIV:nth-child(2).dxpc-contentWrapper,
.dxpcLite.dxpc-mainDiv > DIV:nth-child(2).dxpc-contentWrapper
{

    border-top-width: 0px;
    border-bottom-width: 0px;
}
.dxpcLite > .dxpc-mainDiv > DIV:last-child.dxpc-contentWrapper,
.dxdpLite > .dxpc-mainDiv > DIV:last-child.dxpc-contentWrapper,
.dxpcLite.dxpc-mainDiv > DIV:last-child.dxpc-contentWrapper
{
    border-bottom-width: 1px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.dxpcAlert.dxpcLite .dxpc-contentWrapper,
.dxpcAlert.dxdpLite .dxpc-contentWrapper
{
    border-color: #000B29;
	border-width: 0px 7px 7px 7px;
}

.dxpcLite .dxpc-content,
.dxdpLite .dxpc-content
{
	white-space: normal;
	line-height: 128%;		
	padding: 14px 20px 15px;
}

.dxpcLite .dxpc-footer,
.dxdpLite .dxpc-footer
{
    border-left: 1px Solid;
    border-right: 1px Solid;
    border-bottom: 1px Solid;
    border-color: rgba(0,0,0,0.15);
	background-clip: padding-box;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.dxpcAlert.dxpcLite .dxpc-footer,
.dxpcAlert.dxdpLite .dxpc-footer 
{
    background-color: #000B29;
    border: 0px;
}

.dxpcLite .dxpc-footerContent,
.dxdpLite .dxpc-footerContent,
.dxpcLite .dxpc-headerContent,
.dxdpLite .dxpc-headerContent
{
    float: left;
}

.dxpcLite.dxRtl .dxpc-footerContent,
.dxdpLite.dxRtl .dxpc-footerContent,
.dxpcLite.dxRtl .dxpc-headerContent,
.dxdpLite.dxRtl .dxpc-headerContent
{
	float: right;
}

.dxpcLite .dxpc-footerContent,
.dxdpLite .dxpc-footerContent
{
	margin: 0;
	padding: 9px 2px 9px 14px;
}
.dxpcLite.dxRtl .dxpc-footerText,
.dxdpLite.dxRtl .dxpc-footerText
{
	float: right;
}

.dxpcLite .dxpc-footerImg,
.dxdpLite .dxpc-footerImg
{
	float: left;
	margin: -1px 4px 0 0;
}

.dxpcLite.dxRtl .dxpc-footerImg,
.dxdpLite.dxRtl .dxpc-footerImg
{
	float: right;
	margin: -1px 0 0 4px;
}

.dxpcLite .dxpc-sizeGrip,
.dxdpLite .dxpc-sizeGrip
{
	float: right;
	margin-top: 15px; 
}

.dxpcLite.dxRtl .dxpc-sizeGrip,
.dxdpLite.dxRtl .dxpc-sizeGrip
{
	float: left;
}

.dxpcModalBackLite,
.dxdpModalBackLite
{
	background-color: #777777;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
	position: fixed;
	left: 0;
	top: 0;
	visibility: hidden;
}

.dxpcLiteDisabled,
.dxdpLiteDisabled
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxRoundPanel -- */
.dxrpControl 
{
    border-radius: 10px;
    border: 1px Solid #AFB1B6;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.dxrpControl > tbody > tr > td > table > tbody > tr:first-child,
.dxrpControl > tbody > tr > td > table > tbody > tr:last-child,
.dxrpControl .dxrpHLE, 
.dxrpControl .dxrpHRE, 
.dxrpControl .dxrpLE, 
.dxrpControl .dxrpRE
{
  visibility: hidden;
  display:none;
}

.dxrpControl .dxrpcontent,
.dxrpControlGB .dxrpcontent
{
    font: 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    vertical-align: top;
}

.dxrpControl .dxrpHeader
{
    border-bottom: 1px Solid #E0E0E0;
}

.dxrpControl > TBODY > TR > TD > TABLE > TBODY > TR:nth-child(2) > TD:nth-child(2) 
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.dxrpHeader
{
    border-radius: 9px 9px 0px 0px;
    text-shadow: 0px 1px 1px White;
    padding: 14px 11px 11px;
    color: #4C566C;
    background-color: #F0F2F4;
    font-weight: bold;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-size: 16px;
}

/* -- ASPxSiteMapControl -- */
.dxsmControl a:visited
{
	color: #af4480;
}
.dxsmControl a
{
	text-decoration: none;
}

.dxsmControl
{
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	border-style: none;
}
/* - Category Level - */
.dxsmCategoryLevel,
.dxsmCategoryLevel a
{
	font-size: 18px;
	color: #7C7C7C;
	text-decoration: none;
}
.dxsmCategoryLevel
{
	white-space: nowrap;
	padding: 0;
}
.dxsmCategoryLevel
{
	padding-bottom: 10px;
}
 /*flow layout*/
.dxsmLevelCategoryFlow,
.dxsmLevelCategoryFlow a
{
	font-size: 18px;
	color: #7C7C7C;
}
/* - Level 0 - */
.dxsmLevel0,
.dxsmLevel0 a,
.dxsmLevel0Categorized a,
.dxsmLevel0Categorized
{
	color: #0160E7;
}
.dxsmLevel0,
.dxsmLevel0Categorized
{
	white-space: nowrap;
	padding-bottom: 10px;
}
.dxsmLevel0 ~ div
{
	margin-left: 21px;
}
 /*flow layout*/
.dxsmLevel0Flow,
.dxsmLevel0Flow a,
.dxsmLevel0CategorizedFlow a,
.dxsmLevel0CategorizedFlow
{
	color: #0160E7;
}
.dxsmLevel0Flow
{
	padding: 0;
}

.dxsmLevel0 a:visited,
.dxsmLevel0Categorized a:visited,
.dxsmLevel0Flow a:visited,
.dxsmLevel0CategorizedFlow a:visited
{
	color: #af4480;
}

/* - Level 1 - */
.dxsmLevel1,
.dxsmLevel1 a,
.dxsmLevel1Categorized a,
.dxsmLevel1Categorized
{
	color: #0160E7;
}
.dxsmLevel1,
.dxsmLevel1Categorized
{
	white-space: nowrap;
	padding-bottom: 10px;
}

/*flow layout*/
.dxsmLevel1Flow,
.dxsmLevel1Flow a,
.dxsmLevel1CategorizedFlow,
.dxsmLevel1CategorizedFlow a
{
	color: #0160E7;
}
.dxsmLevel1Flow
{
	padding-bottom: 10px;
}

/* - Level 2 - */
.dxsmLevel2,
.dxsmLevel2 a,
.dxsmLevel2Categorized a,
.dxsmLevel2Categorized
{
	color: #0160E7;
}
.dxsmLevel2,
.dxsmLevel2Categorized
{
	white-space: nowrap;
	padding-bottom: 10px;
}
/*flow layout*/
.dxsmLevel2Flow,
.dxsmLevel2Flow a
{
	color: #0160E7;
}
.dxsmLevel2Flow
{
	padding-bottom: 10px;
}
/* - Level 3 - */
.dxsmLevel3,
.dxsmLevel3 a
{
	color: #0160E7;
}
.dxsmLevel3
{
	white-space: nowrap;
	padding-bottom: 10px;
}
/*flow layout*/
.dxsmLevel3Flow,
.dxsmLevel3Flow a
{
	color: #0160E7;
}
.dxsmLevel3Flow
{
	padding-bottom: 10px;
}
/* - Level 4 - */
.dxsmLevel4,
.dxsmLevel4 a
{
	color: #0160E7;
}
.dxsmLevel4
{
	white-space: nowrap;
	padding-bottom: 10px;
}
/*flow layout*/ 
.dxsmLevel4Flow,
.dxsmLevel4Flow a
{
	color: #0160E7;
}
.dxsmLevel4Flow
{
	padding-bottom: 10px;
}
/* - Other Levels - */
.dxsmLevelOther,
.dxsmLevelOther a
{
	color: #0160E7;
}
.dxsmLevelOther
{
	white-space: nowrap;
	padding-bottom: 10px;
}
/*flow layout*/
.dxsmLevelOtherFlow,
.dxsmLevelOtherFlow a
{
	color: #0160E7;
	padding-bottom: 10px;
}
/* Disabled */
.dxsmDisabled,
.dxsmDisabled *
{
	color: #BBB;
	cursor: default;
}

/* -- ASPxTabControl, ASPxPageControl -- */
.dxtcControl
{
	font-size: 18px;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-weight: bold;
	color: #7C7C7C;
}
.dxtcPageContent,
.dxtcPageContentWithTabPositionBottom
{
	border:none!important;
}
.dxtcActiveRow
{
}

.dxtcActiveRow > tbody > tr > td > div
{
	background-color:#B4B4B4;
}
.dxtcActiveRow > tbody > tr > td
{
	background: #E3E3E3 url('tcTabBack.png') repeat-x top;
	border-top: none!important;
	border-bottom: none!important;
	display:none;
}
.dxtcActiveRow > tbody > tr > td.dxtcTab,
.dxtcActiveRow > tbody > tr > td.dxtcActiveTab,
.dxtcActiveRow > tbody > tr > td.dxtcActiveTabWithTabPositionBottom,
.dxtcActiveRow > tbody > tr > td.dxtcTabWithTabPositionBottom
{
	display:table-cell;
	border-left:1px solid rgba(162, 163, 165, .6);
	border-right:1px solid rgba(162, 163, 165, .6);
	box-shadow: 0 1px 0px white;
}
.dxtcActiveRow > tbody > tr > td:nth-child(-n+2)
{
	border-radius: 10px 0 0 10px;
	border-left: 1px solid #B6B8BC;
}
div > .dxtcActiveRow > tbody > tr > td:last-child
{
	background:none!important;
	border:none!important;
}
div > .dxtcActiveRow > tbody > tr > td:last-child > div
{
	background:none!important;
}
div > .dxtcActiveRow > tbody > tr > td:nth-last-child(-n+3),
.dxtcActiveRow > tbody > tr > td:nth-last-child(-n+2)
{
	border-radius: 0 10px 10px 0;
	border-right: 1px solid #B6B8BC;
}
.dxtcActiveTab,
.dxtcActiveTabWithTabPositionBottom,
.dxtcActiveTabWithTabPositionLeft,
.dxtcActiveTabWithTabPositionRight
{
	border-left-width:1px!important;
	border-color: rgba(23,63,131,0.5)!important;
}
.dxtcActiveTab > table,
.dxtcActiveTabWithTabPositionBottom > table,
.dxtcActiveTabWithTabPositionLeft > table,
.dxtcActiveTabWithTabPositionRight > table
{
	margin-top: 1px;
	margin-bottom: 0px!important;
}

.dxtcLoadingPanel,
.dxtcLoadingPanel_TabBar
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxtcLoadingPanel td.dx,
.dxtcLoadingPanel_TabBar td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxtcLoadingPanel td.dx:first-child,
.dxtcLoadingPanel_TabBar td.dx:first-child,
*[dir="rtl"] .dxtcLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxtcLoadingPanel_TabBar td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxtcLoadingPanel td.dx:last-child,
.dxtcLoadingPanel_TabBar td.dx:last-child,
*[dir="rtl"] .dxtcLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxtcLoadingPanel_TabBar td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxtcLoadingPanel td.dx:first-child:last-child,
.dxtcLoadingPanel_TabBar td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxtcLoadingPanel td.dx + td.dx,
.dxtcLoadingPanel_TabBar td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxtcLoadingPanel td.dx + td.dx,
*[dir="rtl"] .dxtcLoadingPanel_TabBar td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

/* Tab Hyperlink*/
.dxtcTab a,
.dxtcTabWithTabPositionLeft a,
.dxtcTabWithTabPositionBottom a,
.dxtcTabWithTabPositionRight a,
.dxtcActiveTab a,
.dxtcActiveTabWithTabPositionBottom a,
.dxtcActiveTabWithTabPositionLeft a,
.dxtcActiveTabWithTabPositionRight a,
.dxtcTabHover a,
.dxtcTabHoverWithTabPositionBottom a,
.dxtcTabHoverWithTabPositionLeft a,
.dxtcTabHoverWithTabPositionRight a
{
	text-decoration: none;
	color: #7C7C7C;
}
.dxtcActiveTab,
.dxtcActiveTabWithTabPositionBottom,
.dxtcActiveTabWithTabPositionLeft,
.dxtcActiveTabWithTabPositionRight
{
	text-align: center;
	padding:0 12px;
}
.dxtcActiveTabWithTabPositionLeft,
.dxtcActiveTabWithTabPositionRight
{
	padding: 2px 13px 5px 12px;
}
/* Active Tab */
.dxtcActiveTab td.dxtc,
.dxtcActiveTabWithTabPositionBottom td.dxtc,
.dxtcActiveTabWithTabPositionLeft td.dxtc,
.dxtcActiveTabWithTabPositionRight td.dxtc
{
	white-space: nowrap;
	border-width: 0px!important;
	padding: 0px!important;
	color:White;
}
.dxtcActiveTabHover
{
}
/* Tab */
.dxtcTab
{
	border-bottom-style: none;
}
.dxtcActiveTab,
.dxtcActiveTabWithTabPositionBottom,
.dxtcActiveTabWithTabPositionLeft,
.dxtcActiveTabWithTabPositionRight
{
	background-image: url('tcATabBack.png')!important;
	background-color: #4183E8!important;
}

.dxtcTab > TABLE,
.dxtcTabWithTabPositionLeft > TABLE, 
.dxtcTabWithTabPositionBottom > TABLE,
.dxtcTabWithTabPositionRight > TABLE 
{
    margin-top: 1px;
}

.dxtcTab,
.dxtcTabWithTabPositionLeft, 
.dxtcTabWithTabPositionBottom,
.dxtcTabWithTabPositionRight
{
	padding: 0 12px;
	text-align: center;
	text-shadow: 0 1px 0px white;
}
.dxtcTab td.dxtc,
.dxtcTabWithTabPositionBottom td.dxtc, 
.dxtcTabWithTabPositionLeft td.dxtc,
.dxtcTabWithTabPositionRight td.dxtc
{
	white-space: nowrap;
	background: transparent none!important;
	border-width: 0px!important;
	padding: 0px!important;
}
.dxtcTabWithTabPositionBottom
{
}
.dxtcTabWithTabPositionLeft
{
}
.dxtcTabWithTabPositionRight
{
}
.dxtcLeftIndentCell,
.dxtcRightIndentCell,
.dxtcRightAlignCell,
.dxtcLeftAlignCell
{
	border:none!important;
}
/* Hover */
.dxtcTabHover,
.dxtcTabHoverWithTabPositionBottom,
.dxtcTabHoverWithTabPositionLeft,
.dxtcTabHoverWithTabPositionRight
{
}
.dxtcPageContent,
.dxtcPageContentWithTabPositionBottom, 
.dxtcPageContentWithTabPositionLeft,
.dxtcPageContentWithTabPositionRight,
.dxtcPageContentWithoutTabs
{
}
.dxtcContent,
.dxtcContentWithTabPositionBottom,
.dxtcContentWithTabPositionLeft,
.dxtcContentWithTabPositionRight
{
}
.dxtcControl td.dxtcTabsCell,
.dxtcControl td.dxtcTabsCellWithTabPositionBottom,
.dxtcControl td.dxtcTabsCellWithTabPositionLeft,
.dxtcControl td.dxtcTabsCellWithTabPositionRight 
{
}
/* Scrolling */
.dxtcScrollButtonCell
{
	border-style: none;
	width: 1px;
	vertical-align: top;
}
.dxtcTabsCellWithTabPositionBottom .dxtcScrollButtonCell
{
	vertical-align: bottom;
}
.dxtcScrollButtonSeparator,
.dxtcScrollButtonSeparator div 
{
	display:none;
}
.dxtcScrollButtonIndent, 
.dxtcScrollButtonIndent div 
{
	height: 1px;
	width: 5px;
}
.dxtcScrollButton 
{
	cursor: pointer;
	text-align: center;
}
.dxtcScrollButtonHover
{
}
.dxtcScrollButtonPressed
{
	background-color: #8D8D8D;
}
.dxtcScrollButtonDisabled
{
	cursor: default;
	border-color: #C3C3C3;
}
.dxWeb_tcScrollLeft
{
}
/* Misc */
.dxtcLeftAlignCell,
.dxtcTabsCellWithTabPositionBottom .dxtcLeftAlignCell 
{
	text-align: left;
}
.dxtcRightAlignCell,
.dxtcTabsCellWithTabPositionBottom .dxtcRightAlignCell
{
	text-align: right;
}
/* Disabled */
.dxtcDisabled,
.dxtcDisabled table
{
	color: #BBBBBB;
}
/* RTL */
.dxtcControl[dir="rtl"] .dxtcActiveRow > tbody > tr > td:nth-child(-n+2)
{
	border-radius: 0 10px 10px 0;
	border-right: 1px solid #B6B8BC;
}
.dxtcControl[dir="rtl"] div > .dxtcActiveRow > tbody > tr > td:nth-last-child(-n+3),
.dxtcControl[dir="rtl"] .dxtcActiveRow > tbody > tr > td:nth-last-child(-n+2)
{
	border-radius: 10px 0 0 10px;
	border-left: 1px solid #B6B8BC;
}
	
/* -- ASPxTabControl Lite -- */
.dxtcLite,
.dxtcLite_TabBar
{
	float: left;
	overflow: hidden;
}
.dxtcLite .dxtc-strip,
.dxtcLite .dxtc-wrapper,
.dxtcLite_TabBar .dxtc-strip,
.dxtcLite_TabBar .dxtc-wrapper 
{
	list-style: none outside none;
	float: left;
	padding: 0;
	margin: 0;
	_overflow: hidden;
}
.dxtcLite .dxtc-tab,
.dxtcLite .dxtc-activeTab,
.dxtcLite .dxtc-leftIndent,
.dxtcLite .dxtc-spacer,
.dxtcLite .dxtc-rightIndent,
.dxtcLite .dxtc-sbWrapper,
.dxtcLite .dxtc-sbIndent,
.dxtcLite .dxtc-sbSpacer,
.dxtcLite_TabBar .dxtc-tab,
.dxtcLite_TabBar .dxtc-activeTab,
.dxtcLite_TabBar .dxtc-leftIndent,
.dxtcLite_TabBar .dxtc-spacer,
.dxtcLite_TabBar .dxtc-rightIndent,
.dxtcLite_TabBar .dxtc-sbWrapper,
.dxtcLite_TabBar .dxtc-sbIndent,
.dxtcLite_TabBar .dxtc-sbSpacer
{
	display: block;
	height: 29px;
	margin: 0;
}
.dxtcLite .dxtc-lineBreak,
.dxtcLite_TabBar .dxtc-lineBreak
{
	float: none;
	display: block;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}
.dxtcLite .dxtc-tab,
.dxtcLite .dxtc-activeTab,
.dxtcLite.dxtc-noSpacing .dxtc-tab.dxtc-lead,
.dxtcLite.dxtc-noSpacing .dxtc-activeTab.dxtc-lead,
.dxtcLite.dxtc-noSpacing .dxtc-tab,
.dxtcLite.dxtc-noSpacing .dxtc-activeTab
{
	box-shadow: 0 1px 0 white;
}
.dxtcLite.dxtc-noSpacing .dxtc-tab,
.dxtcLite.dxtc-noSpacing .dxtc-activeTab,
.dxtcLite_TabBar.dxtc-noSpacing .dxtc-tab,
.dxtcLite_TabBar.dxtc-noSpacing .dxtc-activeTab
{
	border-left-style: none;
}
.dxtcLite .dxtc-tab,
.dxtcLite .dxtc-activeTab,
.dxtcLite_TabBar .dxtc-tab,
.dxtcLite_TabBar .dxtc-activeTab
{
	background-color: #E0E0E0;
	float: left;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}
.dxtcLite .dxtc-tab
{
	background: #F1F2F4 url('tcTabBack.png') repeat-x top;
	border-left: 1px solid rgba(162, 163, 165, 0.6);
    border-right: 1px solid rgba(162, 163, 165, 0.6);
}
.dxtcLite .dxtc-activeTab
{
	background-image: url('tcATabBack.png')!important;
	border-left: 1px solid rgba(23, 63, 131, 0.5) !important;
    border-right: 1px solid rgba(23, 63, 131, 0.5) !important;
}
.dxtcLite .dxtc-spacer
{
	display:none;
}
.dxtcLite .dxtc-lead
{
	border-radius:10px 0px 0px 10px;
	border-left: 1px solid #B6B8BC;
}
.dxtcLite .dxtc-strip>li:nth-last-child(3),
.dxtcLite .dxtc-strip>li:nth-last-child(2)
{
	border-radius:0px 10px 10px 0px;
	border-right: 1px solid #B6B8BC;
}
.dxtcLite .dxtc-spacer
{
}
.dxtcLite .dxtc-spacer:last-of-type
{
	background:none!important;
}
.dxtcLite .dxtc-activeTab,
.dxtcLite_TabBar .dxtc-activeTab
{
	color: white;
}
.dxtcLite .dxtc-tab a,
.dxtcLite_TabBar .dxtc-tab a 
{
	text-decoration: none;
	color: #747474;
}
.dxtcLite .dxtc-tab a
{
	color: #7C7C7C;
	text-shadow: 0 1px 0px #FFFFFF;
}
.dxtcLite .dxtc-tabHover,
.dxtcLite_TabBar .dxtc-tabHover
{
	background-color: #F2F2F2;
}
.dxtcLite .dxtc-leftIndent,
.dxtcLite .dxtc-spacer,
.dxtcLite .dxtc-rightIndent,
.dxtcLite .dxtc-sbWrapper,
.dxtcLite .dxtc-sbIndent,
.dxtcLite .dxtc-sbSpacer,
.dxtcLite_TabBar .dxtc-leftIndent,
.dxtcLite_TabBar .dxtc-spacer,
.dxtcLite_TabBar .dxtc-rightIndent,
.dxtcLite_TabBar .dxtc-sbWrapper,
.dxtcLite_TabBar .dxtc-sbIndent,
.dxtcLite_TabBar .dxtc-sbSpacer
{
	float: left;
	overflow: hidden;
	_border-top-color: #000001;
	_zoom: 1;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color=#000001);
}
.dxtcLite .dxtc-spacer,
.dxtcLite_TabBar .dxtc-spacer
{
	width: 1px;
}
.dxtcLite .dxtc-leftIndent,
.dxtcLite .dxtc-rightIndent,
.dxtcLite_TabBar .dxtc-leftIndent,
.dxtcLite_TabBar .dxtc-rightIndent
{
	display:none;
}
.dxtcLite .dxtc-link,
.dxtcLite_TabBar .dxtc-link
{
	padding: 10px 12px;
	display: block;
	font-size: 0;
	text-decoration: none;
	_float: left;
}
.dxtcLite_TabBar .dxtc-link
{
	padding: 4px 12px 4px;
}
.dxtcLite_TabBar .dxtc-link a
{
}
.dxtcLite_TabBar .dxtc-link .dxtc-text
{
	height: 28px;
	display:block;
	padding-top:12px;
}
.dxtcLite_TabBar .dxtc-activeTab .dxtc-link b:first-child
{
	background-color:#3A3A3A;
	border-radius:5px;
	opacity: 0.7;
}

.dxtcLite .dxtc-text,
.dxtcLite .dxtc-leftIndent,
.dxtcLite .dxtc-rightIndent,
.dxtcLite_TabBar .dxtc-text,
.dxtcLite_TabBar .dxtc-leftIndent,
.dxtcLite_TabBar .dxtc-rightIndent
{
	font-size: 18px;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-weight: bold;
	display: block;
}
.dxtcLite .dxtc-img,
.dxtcLite_TabBar .dxtc-img
{
	border-style: none;
	margin: 0 3px -4px 0;
	width: 16px;
	height: 16px;
} 
.dxtcLite.dxtc-rtl .dxtc-img,
.dxtcLite_TabBar.dxtc-rtl .dxtc-img
{
	margin: 0 0 -4px 3px;
}
.dxtcLite .dxtc-content,
.dxtcLite_TabBar .dxtc-content 
{
	font: 12px Tahoma;
	color: black;
	float: left;
	clear: left;
	overflow: auto;
}
.dxtcLite.dxtc-top .dxtc-content,
.dxtcLite_TabBar.dxtc-top .dxtc-content
{
	border-top-style: none!important;
}
/* Rtl */
.dxtcLite.dxtc-rtl,
.dxtcLite.dxtc-rtl .dxtc-content,
.dxtcLite.dxtc-rtl .dxtc-strip,
.dxtcLite.dxtc-rtl .dxtc-wrapper,
.dxtcLite.dxtc-rtl .dxtc-leftIndent,
.dxtcLite.dxtc-rtl .dxtc-spacer,
.dxtcLite.dxtc-rtl .dxtc-rightIndent,
.dxtcLite.dxtc-rtl .dxtc-sbWrapper,
.dxtcLite.dxtc-rtl .dxtc-sbIndent,
.dxtcLite.dxtc-rtl .dxtc-sbSpacer,
.dxtcLite.dxtc-rtl .dxtc-tab,
.dxtcLite.dxtc-rtl .dxtc-activeTab,
.dxtcLite_TabBar.dxtc-rtl,
.dxtcLite_TabBar.dxtc-rtl .dxtc-content,
.dxtcLite_TabBar.dxtc-rtl .dxtc-strip,
.dxtcLite_TabBar.dxtc-rtl .dxtc-wrapper,
.dxtcLite_TabBar.dxtc-rtl .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-rtl .dxtc-spacer,
.dxtcLite_TabBar.dxtc-rtl .dxtc-rightIndent,
.dxtcLite_TabBar.dxtc-rtl .dxtc-sbWrapper,
.dxtcLite_TabBar.dxtc-rtl .dxtc-sbIndent,
.dxtcLite_TabBar.dxtc-rtl .dxtc-sbSpacer,
.dxtcLite_TabBar.dxtc-rtl .dxtc-tab,
.dxtcLite_TabBar.dxtc-rtl .dxtc-activeTab
{
	float: right;
}
.dxtc-top.dxtc-rtl .dxtc-content,
.dxtc-bottom.dxtc-rtl .dxtc-strip,
.dxtc-bottom.dxtc-rtl .dxtc-wrapper
{
	clear: right!important;
}
.dxtc-left.dxtc-rtl .dxtc-strip 
{
	float: left;
}
.dxtcLite.dxtc-rtl .dxtc-content,
.dxtcLite.dxtc-rtl .dxtc-strip,
.dxtcLite.dxtc-rtl .dxtc-wrapper,
.dxtcLite_TabBar.dxtc-rtl .dxtc-content,
.dxtcLite_TabBar.dxtc-rtl .dxtc-strip,
.dxtcLite_TabBar.dxtc-rtl .dxtc-wrapper
{
	*float: left;
}
.dxtcLite.dxtc-rtl .dxtc-content,
.dxtcLite_TabBar.dxtc-rtl .dxtc-content
{
	*clear: left!important;
}
.dxtcLite.dxtc-rtl .dxtc-lead
{
	border-radius:0px 10px 10px 0px;
	border-right: 1px solid #B6B8BC;
}
.dxtcLite.dxtc-rtl .dxtc-strip>li:nth-last-child(3),
.dxtcLite.dxtc-rtl .dxtc-strip>li:nth-last-child(2)
{
	border-radius:10px 0px 0px 10px;
	border-left: 1px solid #B6B8BC;
}
/* Scrolling */
.dxtcLite .dxtc-sb,
.dxtcLite_TabBar .dxtc-sb          
{
	cursor: pointer;
	font-size: 0;
}
.dxtcLite.dxtc-bottom .dxtc-sb,
.dxtcLite_TabBar.dxtc-bottom .dxtc-sb
{
}
.dxtcLite .dxtc-sbHover,
.dxtcLite_TabBar .dxtc-sbHover
{
}
.dxtcLite .dxtc-sbPressed,
.dxtcLite_TabBar .dxtc-sbPressed
{
}
.dxtcLite .dxtc-sbDisabled,
.dxtcLite_TabBar .dxtc-sbDisabled
{
	cursor: default;
}
.dxtcLite .dxtc-sb img,
.dxtcLite_TabBar .dxtc-sb img 
{
	border: none;
	border-style: none;
}
.dxtcLite .dxtc-sbIndent,
.dxtcLite_TabBar .dxtc-sbIndent
{
	width: 5px;
}
.dxtcLite .dxtc-sbSpacer,
.dxtcLite_TabBar .dxtc-sbSpacer
{
	width: 0px;
}
/* Multi-row */
.dxtcLite_TabBar .dxtc-n
{
	_display: inline;
}
.dxtcLiteDisabled,
.dxtcLiteDisabled .dxtc-text,
.dxtcLiteDisabled .dxtc-activeTab .dxtc-text,
.dxtcLiteDisabled .dxtc-content
{
	cursor: default;
}
.dxtcLiteDisabled .dxtc-text,
.dxtcLiteDisabled .dxtc-content
{
	color: #BBBBBB;
}
.dxtcLiteDisabled .dxtc-activeTab .dxtc-text
{
	color: White;
}
/* bottom  */
.dxtcLite_TabBar.dxtc-bottom .dxtc-strip,
.dxtcLite_TabBar.dxtc-bottom .dxtc-wrapper
{
	clear: left;
	*float: none;
}
/* left */
.dxtcLite_TabBar.dxtc-left .dxtc-tab,
.dxtcLite_TabBar.dxtc-left .dxtc-activeTab,
.dxtcLite_TabBar.dxtc-left .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-left .dxtc-spacer,
.dxtcLite_TabBar.dxtc-left .dxtc-rightIndent
{
	float: none;
	*float: left;
	clear: none;
	*clear: both;
	width: auto;
	height: auto;
}
.dxtcLite_TabBar.dxtc-left .dxtc-activeTab,
.dxtc-left.dxtc-noSpacing .dxtc-tab,
.dxtc-left.dxtc-noSpacing .dxtc-activeTab,
.dxtc-left.dxtc-noSpacing .dxtc-tab.dxtc-lead,
.dxtc-left.dxtc-noSpacing .dxtc-activeTab.dxtc-lead
{
	border: 1px solid #A8A8A8;
}
.dxtc-left.dxtc-noSpacing .dxtc-tab,
.dxtc-left.dxtc-noSpacing .dxtc-activeTab
{
	border-top-style: none;
}
.dxtcLite_TabBar.dxtc-left .dxtc-activeTab
{
	border-right: 1px solid white;
	background-color: white;
}
.dxtcLite_TabBar.dxtc-left .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-left .dxtc-spacer,
.dxtcLite_TabBar.dxtc-left .dxtc-rightIndent
{
	border: none;
	border-right: 1px solid #A8A8A8;
	border-left: 1px solid transparent;
	width: auto;
	_border-left-color: #000001;
	_zoom: 1;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color=#000001);
}
.dxtcLite_TabBar.dxtc-left .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-left .dxtc-rightIndent
{
	height: 5px;
}
.dxtcLite_TabBar.dxtc-left .dxtc-spacer
{
	height: 1px;
}
.dxtcLite_TabBar.dxtc-left .dxtc-content
{
	border-top: 1px solid #A8A8A8;
	border-right: 1px solid #A8A8A8;
	border-bottom: 1px solid #A8A8A8;
	border-left-color: #A8A8A8;
	border-left-width: 1px;
	border-left-style: none!important;
	float: left;
	clear: none;
}
/* right */
.dxtcLite_TabBar.dxtc-right .dxtc-tab,
.dxtcLite_TabBar.dxtc-right .dxtc-activeTab,
.dxtcLite_TabBar.dxtc-right .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-right .dxtc-spacer,
.dxtcLite_TabBar.dxtc-right .dxtc-rightIndent
{
	float: none;
	*float: left;
	clear: none;
	*clear: both;
	width: auto;
	height: auto;
}
.dxtcLite_TabBar.dxtc-right .dxtc-activeTab,
.dxtc-right.dxtc-noSpacing .dxtc-tab,
.dxtc-right.dxtc-noSpacing .dxtc-activeTab,
.dxtc-right.dxtc-noSpacing .dxtc-tab.dxtc-lead,
.dxtc-right.dxtc-noSpacing .dxtc-activeTab.dxtc-lead
{
	border: 1px solid #A8A8A8;
}
.dxtc-right.dxtc-noSpacing .dxtc-tab,
.dxtc-right.dxtc-noSpacing .dxtc-activeTab
{
	border-top-style: none;
}
.dxtcLite_TabBar.dxtc-right .dxtc-activeTab
{
	border-left: 1px solid white;
	background-color: white;
}
.dxtcLite_TabBar.dxtc-right .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-right .dxtc-spacer,
.dxtcLite_TabBar.dxtc-right .dxtc-rightIndent
{
	border: none;
	border-left: 1px solid #A8A8A8;
	border-right: 1px solid transparent;
	_border-right-color: #000001;
	_zoom: 1;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color=#000001);
}
.dxtcLite_TabBar.dxtc-right .dxtc-leftIndent,
.dxtcLite_TabBar.dxtc-right .dxtc-rightIndent
{
	height: 5px;
}
.dxtcLite_TabBar.dxtc-right .dxtc-spacer
{
	height: 1px;
}
.dxtcLite_TabBar.dxtc-right .dxtc-content
{
	border-top: 1px solid #A8A8A8;
	border-right-color: #A8A8A8;
	border-bottom: 1px solid #A8A8A8;
	border-left: 1px solid #A8A8A8;
	border-right-width: 1px;
	border-right-style: none!important;
	float: left;
	clear: none;
}
/* Services rules */
.dxtcLite_TabBar.dxtc-noTabs .dxtc-content
{
	border: 1px solid #A8A8A8!important;
}
.dxtcLite_TabBar .dxtc-strip
{
    background-image: url('TabBarBack.png');
    background-repeat: repeat-x;
}
.dxtcLite_TabBar .dxtc-tab, 
.dxtcLite_TabBar .dxtc-activeTab
{
    border: none !important;
    background-color: transparent !important;
}
.iOSBottomTabBar .dxtc-link
{
    padding: 4px 10px 3px !important;
}
.dxtcLite_TabBar.dxtc-bottom .dxtc-leftIndent, 
.dxtcLite_TabBar.dxtc-bottom .dxtc-spacer, 
.dxtcLite_TabBar.dxtc-bottom .dxtc-rightIndent, 
.dxtcLite_TabBar.dxtc-bottom .dxtc-sbWrapper, 
.dxtcLite_TabBar.dxtc-bottom .dxtc-sbIndent, 
.dxtcLite_TabBar.dxtc-bottom .dxtc-sbSpacer
{
    border: none !important;
}

/* -- ASPxTitleIndex -- */
.dxtiControl 
{
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	border-style: none;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.dxtiControl a
{
	color: #0160E7;
	text-decoration: none;
}
.dxtiLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
	border: 1px solid #A6A6A6;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxtiLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxtiLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxtiLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxtiLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxtiLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxtiLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxtiLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxtiLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxtiItem
{
	color: #0160E7;
	text-decoration: none;
	white-space: nowrap;
}
.dxtiGroupHeader,
.dxtiGroupHeaderCategorized
{
	text-decoration: none;
	white-space: nowrap;
}
/* - GroupHeaderText - */
.dxtiGroupHeaderText,
.dxtiGroupHeaderTextCategorized
{
	font-size: 18px;
	color: #7C7C7C;
}
.dxtiGroupHeaderTextCategorized
{
	padding: 0 25px;
}
/* - FilterBox - */
.dxtiFilterBox
{
	color: #000;
	padding: 22px 25px;	
}
.dxtiFilterBoxInfoText
{
}
.dxtiFilterBoxEdit
{
	font-size: 13px;
	padding: 6px 6px 6px 26px;
	font-weight: bold;
	width: 140px;
	background: white url('Filter.png') no-repeat;
	background-position: 8px 8px;
	border-top: 1px solid #616262;
    border-left: 1px solid  #919293;
    border-right: 1px solid #919293;
    border-bottom: 1px solid #B2B3B4;
    border-radius: 14px;
    box-shadow: 0 1px 1px #A3A3A3 inset, 0 1px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 1px 1px #A3A3A3 inset, 0 1px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 1px #A3A3A3 inset, 0 1px rgba(255, 255, 255, 0.25);
}
/* - IndexPanel - */
.dxtiIndexPanel
{
	background: #CACACA url('tiIPBack.png') repeat-x left top;
	height: 36px;
	border: 1px solid #B3B5B9;
	border-radius: 19px;
	padding: 0 19px;
	text-decoration: none;
	white-space: nowrap;	
	box-shadow: 0 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.dxtiIndexPanel > table td
{
	height: 36px;
	display: block;
}
.dxtiIndexPanelItem
{
	border: 1px solid Transparent;
}
.dxtiIndexPanelItem,
.dxtiCurrentIndexPanelItem,
.dxtiIndexPanelItem a
{
	color: #7C7C7C;
	text-decoration: none;
}
.dxtiIndexPanelItem,
.dxtiCurrentIndexPanelItem
{
	display: inline-block !important;
	padding: 7px 6px 0;
	height: 29px;
	margin-top: -1px;
}
.dxtiCurrentIndexPanelItem
{
	color: #FFF;
	background: #4B8CED url('tiCIBack.png') repeat-x left top;
	border-top: 1px solid #184186;
	border-bottom: 1px solid #5284CC;
	border-right: 1px solid #2D5FAD;
	border-right: 1px solid rgba(6, 32, 76, 0.25);
	border-left: 1px solid #2D5FAD;
	border-left: 1px solid rgba(6, 32, 76, 0.25);
	
	-moz-box-shadow: 0 2px 4px rgba(3, 30, 77, 0.5) inset;
	box-shadow: 0 2px 4px rgba(3, 30, 77, 0.5) inset;
	-webkit-box-shadow: 0 2px 4px rgba(3, 30, 77, 0.5) inset;
	
	background-clip: border-box;
	-webkit-background-clip: border-box;
	-moz-background-clip: border-box;
	text-shadow: none;
}
/* - BackToTop - */
.dxtiBackToTop,
.dxtiBackToTopRtl
{
	padding: 7px 4px 4px;
	background: url('tiBTTSpacingBack.png') repeat-x left top;
}
/* Disabled */
.dxtiDisabled
{
	color: #bbb;
	cursor: default;
}

/* -- ASPxUploadControl -- */
.dxucControl,
.dxucEditArea
{
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #303030;
	text-shadow: 0 1px 0px #ECECEC;
}
.dxucControl .dxucInputs
{
	border-collapse: separate!important;
}
.dxucTextBox
{
	background-color: white;
	border: 1px solid #AFB1B6 !important;
	border-radius: 5px;
	padding: 3px 8px 2px;
}
.dxucTextBox.dxCB
{
    display: none;
}

.dxucTextBox .dxucEditArea
{
	margin: 0px;
	background-color: white;
	height: 24px;
}
.dxucNullText .dxucEditArea
{
    color: #979797;
}
.dxucErrorCell
{
	color: Red;
	text-align: left;
}
.dxucButton,
.dxucButton a
{
	color: #0D45B7;
	white-space: nowrap;
}
.dxucBrowseButton
{
    display: none;
}
.dxucBrowseButton,
.dxucBrowseButton a
{
	color: #000000;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
}
.dxucControl .dxucBrowseButton a
{
	color: #000000;
}
.dxucControl a[unselectable="on"]
{
    user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.dxucBrowseButton
{
	padding: 3px 8px 4px;
	border: 1px solid;
	border-color: #78797A #A3A3A4 #ACADAD #A3A3A4;
	background: #E0DFDF url('ucButtonBack.gif') repeat-x top;
}
.dxucBrowseButtonPressed
{
	border: 1px solid #606060;
	background: #F2F2F2 url('ucButtonPressedBack.gif') repeat-x top;
}
/* ProgressBar */
.dxucProgressBar
{
	background: #EEE url('ucProgressBack.png') repeat-x left top;
	border-right: 1px solid #989A9D;
	border-radius: 4px;
	box-shadow: -1px 0 1px rgba(0, 0, 0, 0.10) inset, 0 1px 0 rgba(255, 255, 255, 0.50);
	overflow: hidden;
}
.dxucProgressBar,
.dxucProgressBar td.dx
{
	color: #FFFFFF;
    font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    text-shadow: -1px -1px 2px #3A79DD, 1px -1px 2px #3A79DD, -1px 1px 2px #3A79DD, 1px 1px 2px #3A79DD;
}
.dxucProgressBar .dxucPBMainCell,
.dxucProgressBar td.dx
{
	padding: 0;
}
.dxucProgressBarIndicator 
{
	background: #4C8CEC url('ucProgressIndicatorBack.png') repeat-x left top;
	border-left: 1px solid #376EC3;
	border-right: 1px solid #376EC3;
	
	border-left: 1px solid rgba(6, 32, 76, 0.27);
	border-right: 1px solid rgba(6, 32, 76, 0.27);
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.10);
}

/* Silverlight Plugin Link */
.dxucSilverlightPluginLinkPanel {
	font: 9px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #7d7d7d;
	text-align: left;
}
.dxucSilverlightPluginLinkPanel td {
	padding: 0px 3px;
	vertical-align: middle;
}
.dxucSilverlightPluginLinkPanel a {
	color: #0D45B7;
}
/* Disabled */
.dxucDisabled,
.dxucDisabled a
{
	color: #ACACAC;
	cursor: default;
}
.dxucTextBoxDisabled
{
	border-color: #C3C3C3;
}
.dxucButtonDisabled,
.dxucButtonDisabled a
{
	text-decoration: none;
}
.dxucBrowseButtonDisabled
{
	border-color: #C3C3C3;
}
.dxucControl .dxucBrowseButtonDisabled a
{
    color: #808080;
}


/* -- ASPxSplitter -- */
.dxsplControl
{
}
.dxsplControl,
.dxsplPane
{
	border: 0px solid #AFB1B6;
}
.dxsplPane,
.dxsplPane > div
{
	border-width: 0;
	overflow: hidden;
}
.dxsplPaneCollapsed
{
	border-width: 0;
}
.dxsplVSeparatorHover
{
	cursor: w-resize;
}
.dxsplHSeparatorHover
{
	cursor: n-resize;
}
.dxsplVSeparatorCollapsed,
.dxsplHSeparatorCollapsed
{
	border-width: 0;
	cursor: default!important;
}
.dxsplVSeparatorButton
{
	cursor: pointer;
	padding: 24px 0;
}
.dxsplHSeparatorButton
{
	cursor: pointer;
	padding: 0 28px;
}
.dxsplDisabled .dxsplVSeparatorButton,
.dxsplDisabled .dxsplHSeparatorButton
{
	cursor: default;
}
.dxsplResizingPointer
{
	background: url('splResizingPointer.gif') repeat;
	font-size: 0px;
	line-height: 0px;
}
.dxsplLCC
{
	padding: 0px;
	border-radius: 0px;
}

/* -- ASPxTreeView -- */
.dxtvControl
{
    color: #303030;
    font: bold 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    float: left;
}
.dxtvControl li
{
    overflow-y: hidden;
}
.dxtvControl ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.dxtvControl a
{
    color: #1b3f91;
    text-decoration: none;
}
.dxtvControl .dxtv-ln
{
    vertical-align: top;
}
.dxtvControl .dxtv-nd
{
    float: left;
    display: block;
    text-decoration: none;
    padding: 1px 9px;
    margin: 6px 1px 6px 0;
    cursor: pointer;
    outline: 0 none;
}
.dxtvControl .dxtv-elbNoLn, .dxtvControl .dxtv-elb
{
    width: 36px;
    height: 21px;
    vertical-align: top;
    float: left;
}
.dxtvControl .dxtv-btn
{
    margin: 16px 0 0 15px;
    cursor: pointer;
}
.dxtvControl .dxtv-subnd
{
    margin: 0 0 0 48px;
}
.dxtvControl .dxtv-ndImg
{
    padding: 1px 8px;
    float: left;
    vertical-align: middle;
    cursor: pointer;
}
.dxtvControl .dxtv-ndTxt
{
    padding: 4px;
    float: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.dxtvControl .dxtv-ndChk
{
    padding: 0;
    float: left;
    vertical-align: middle;
    cursor: default;
    margin: 2px 14px 2px 0;
}
.dxtvControl .dxtv-ndTmpl
{
    float: left;
    white-space: nowrap;
}

.dxtvControl .dxtv-ndSel
{
    background-color: #1879f2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    cursor: default;
}

.dxtv-ndSel .dxtv-ndTxt, .dxtv-ndSel .dxtv-ndImg
{
    cursor: default;
}

.dxtvControl .dxtv-ndHov
{
    cursor: pointer;
}

.dxtv-ndHov .dxtv-ndTxt, .dxtv-ndHov .dxtv-ndImg
{
    cursor: pointer;
}

.dxtvControl .dxtv-clr, .dxtvControl .dxtv-clrIE7
{
    clear: both;
    font-size: 0;
    display: block;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxtvControl .dxtv-clr
{
    line-height: 0;
}

.dxtvControl.dxtvRtl, .dxtvControl.dxtvRtl .dxtv-nd, .dxtvControl.dxtvRtl .dxtv-elbNoLn, .dxtvControl.dxtvRtl .dxtv-elb, .dxtvControl.dxtvRtl .dxtv-ndTxt, .dxtvControl.dxtvRtl .dxtv-ndImg, .dxtvControl.dxtvRtl .dxtv-ndChk, .dxtvControl.dxtvRtl .dxtv-ndTmpl
{
    float: right;
}
.dxtvControl.dxtvRtl .dxtv-nd
{
    padding: 1px 9px;
    margin: 6px 0 6px 1px;
}
.dxtvControl.dxtvRtl .dxtv-elb, .dxtvControl.dxtvRtl .dxtv-ln
{
    background-position: right top;
}
.dxtvControl.dxtvRtl .dxtv-btn
{
    margin: 16px 15px 0 0;
}
.dxtvControl.dxtvRtl .dxtv-subnd
{
    margin: 0 48px 0 0;
}
.dxtvControl.dxtvRtl .dxtv-ndImg
{
    padding: 1px 8px;
}
.dxtvControl.dxtvRtl.OperaRtlFix .dxtv-btn
{
}

.dxtvControl.dxtvRtl .dxtv-ndChk
{
    margin: 2px 0 2px 14px;
}
.dxtvControl.dxtvRtl.OperaRtlFix .dxtv-subnd
{
    overflow-x: hidden;
}

.dxtvDisabled, .dxtvControl .dxtvDisabled, .dxtvDisabled a, .dxtvDisabled .dxtv-ndTxt, .dxtvDisabled .dxtv-ndImg, .dxtvDisabled .dxtv-btn, .dxtvDisabled .dxtv-nd
{
    color: #A6A6A6;
    cursor: default;
}

.dxtvLoadingPanelWithContent
{
    font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    color: Black;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    border-collapse: separate !important;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
    background-clip: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
}
.dxtvLoadingPanelWithContent td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 32px 29px;
    background-color: #E2E5EA;
}


/* ASPxFileManager */
.dxfmControl
{
	font: normal 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	outline: 0px;
}
.dxfmDisabled
{
	color: #ACACAC;
}
/* FileManager - Splitter */
.dxfmControl .dxsplControl
{
	background-color: white;
	border-radius: 5px 5px 0 0;
	border-style: solid;	
	border-width: 1px;
	border-color: #B3B5B9;
}
.dxfmControl .dxsplPane
{
	border-width: 0px;
	border-radius: 0;
	box-shadow: none;
}
.dxfmControl .dxsplHSeparator
{
	background-color: #B3B5B9;
}
.dxfmControl .dxsplPane > div
{
	border-radius: 0;
}
.dxfmControl .dxsplLCC 
{
	outline-width: 0px;
}

.dxfmControl .dxsplP .dxsplVSeparator
{
	border-color: #AFB1B6;
	border-style: solid;
	border-width: 0 1px;
	width: 20px!important;
	background: White!important;
}
div.dxfmControl.dxfm-dst td.dxsplVSeparator > div.dxsplS
{
	margin: 0 auto!important;
}

.dxfmControl.dxfm-dst.dxfm-rtl .dxsplVSeparator
{
	background-position-x: left;
}
.dxfmControl.dxfm-tch .dxsplVSeparator
{
	border-width: 0 1px;
	border-color: #E0E0E0;
}
.dxfmControl .dxsplHSeparator
{
	border-width: 0px;
	background-color: #E0E0E0;
}

/* FileManager - TreeView */

.dxfmControl .dxtvControl 
{
	margin-left: -5px;
}
.dxfmControl .dxtvControl .dxtv-nd .dxtv-ndTxt 
{
	padding-left: 1px;
}
.dxfmControl .dxtvControl .dxtv-nd 
{
	border: 1px solid transparent;
	padding-left: 3px;
	margin-bottom: 0px;
}
.dxfmControl .dxtvControl .dxfm-folderSI
{
	background-color: #B2B2B2;
	color: #ffffff;
    border-radius: 20px 20px 20px 20px;
	padding-left: 3px;
}
.dxfmControl .dxtvControl .dxtv-ndSel
{
	border: 1px solid transparent;
}
.dxfmControl .dxtvControl .dxtv-ndHov
{
	padding-left: 3px;
}
.dxfmControl .dxtvControl .dxtv-ndSel
{
	padding-left: 3px;
}
.dxfmControl .dxtvControl .dxtv-ndImg
{
	padding: 0px;
	margin-right: 3px;
	margin-top: -2px;
}

/* FileManager - File */

.dxfmControl .dxfm-file 
{
	float: left;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	padding: 5px;
	margin: 5px;
}
.dxfmControl.dxfm-rtl .dxfm-file 
{
	float: right;
}
.dxfmDisabled .dxfm-file
{
	cursor: default;
}
.dxfmControl .dxfm-fileSI
{
	background-color: #B2B2B2;
	color: White;
	border-radius: 2px;
}
.dxfmControl .dxfm-fileSA
{
	background-color: #1879F2;
	border-radius: 2px;
}
.dxfmControl .dxfm-fileH
{
	
}
.dxfmControl .dxfm-content
{
	overflow: hidden;
	padding: 13px 4px 8px 2px;
}
.dxfmControl .dxfm-content div
{
	overflow: hidden;
	width: 100%;
	height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-weight: bold;
	font-size: 16px;
	padding-top: 14px;
}
.dxfmControl .dxfm-fileSA .dxfm-content div
{
	text-shadow: 0 -1px 0px #529BF5;
	color: White;
}
.dxfmControl .dxfm-content .dxfm-highlight
{
	background-color: #CFCFCF;
	background-repeat: repeat;
	color: #333333;
	font-weight: bold;
}

/* FileManager - Toolbar */

.dxfmControl .dxfm-toolbar
{
	background-color: #F0F2F4;
	border-radius: 5px 5px 0 0!important;
}
.dxfmControl .dxfm-toolbar.dxsplPane table.dxfm
{
	width: 100%;
}
.dxfmControl .dxfm-toolbar table.dxfm > tbody > tr > td:first-child
{
	padding-left: 7px;
}
.dxfmControl .dxfm-toolbar table.dxfm .dxfm-filter
{
	padding-right: 7px;
	font: bold 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    text-shadow: 0 -1px 0px #D3D4D6;
}
.dxfmControl .dxfm-toolbar.dxsplPane .dxfm-filter
{
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	padding-top: 7px;
}

.dxfmControl.dxfm-rtl .dxfm-toolbar.dxsplPane .dxfm-filter 
{
	text-align: left;
}
.dxfmControl .dxfm-toolbar.dxsplPane .dxfm-filter input
{
	width: 130px;
	height: 26px;
	font: 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #385487;
	padding: 0 10px 0 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #ADADAE #C7C7C7 #D8D8D9 #C7C7C7;
	border-radius: 14px;
	box-shadow: 0 1px #E0E0E0 inset;
	margin: 4px 4px 0px 3px;
	background: white url('Filter.png') no-repeat 8px 7px;
}
.dxfmControl .dxfm-toolbar.dxsplPane .dxfm-path input
{
	width: 230px;
	height: 26px;
	font: 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-shadow: 0 -1px 0px #CDD4E1;
	color: #385487;
	padding: 0 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #ADADAE #C7C7C7 #D8D8D9 #C7C7C7;
	border-radius: 5px;
	box-shadow: 0 1px #E0E0E0 inset;
}

/* FileManager - Toolbar - Light */

.dxfmControl .dxfm-toolbar .dxsplLCC 
{
	height: 49px!important;
	color: #7C7C7C;
}
.dxfmControl .dxfm-toolbar .dxmLite .dxm-main
{
	margin-top: 0px;
	border-width: 0px;
	background: transparent none;
}
.dxfmControl .dxfm-toolbar .dxmLite .dxmtb.dxm-horizontal .dxm-separator 
{
	display: none;
}
.dxfmControl .dxfm-toolbar .dxmLite .dxfm-path input
{
	margin: 1px 8px 0px 4px;
}
.dxfmControl.dxfm-rtl .dxfm-toolbar .dxmLite .dxfm-path input 
{
	margin: 1px 4px 0px 8px;
}
.dxfmControl .dxfm-toolbar .dxmLite .dxm-item
{
}
.dxfmControl .dxfm-toolbar .dxmLite .dxm-item.dxm-hovered
{
}
.dxfmControl .dxfm-toolbar .dxmLite .dxm-item .dxm-content 
{
	margin: 0;
	border: 1px solid transparent;
	padding: 13px 4px 4px 4px;
}
.dxfmControl .dxfm-toolbar .dxmLite .dxm-item .dxm-content  > img
{
}
.dxmLite .dxm-horizontal .dxm-spacing
{
	width: 0px;
}
.dxfmControl .dxfm-toolbar .dxmLite .dxm-item.dxm-hovered .dxm-content 
{
	border-radius: 3px;
}
.dxfmControl .dxfm-toolbar .dxmLite,
.dxfmControl .dxfm-toolbar .dxmLite ul.dx
{
	color: #7C7C7C;
	font: bold 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-shadow: 0 1px 0px rgba(255, 255, 255, .5);
}
.dxfmControl .dxfm-toolbar .dxmLite .dxfm-path 
{
	padding-left: 1px;
	padding-top: 6px;
}

/* FileManager - Toolbar - Classic */

.dxfmControl .dxfm-toolbar .dxmMenu
{
	border-width: 0px;
	background: #F3F3F3 none;
	padding-top: 1px;
	padding-left: 3px;
	display: inline-block;
}
.dxfmControl .dxfm-toolbar .dxmMenu .dxmMenuSeparator 
{
	padding: 0px 11px;
}
.dxfmControl .dxfm-toolbar .dxmMenu .dxmMenuItemSeparatorSpacing 
{
	width: 1px;
}
.dxfmControl .dxfm-toolbar .dxmMenu .dxmMenuItemSpacing 
{
	width: 0px;
	display: block;
}
.dxfmControl .dxfm-toolbar .dxmMenu .dxmMenuItem.dxfm-path 
{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 3px;
}
.dxfmControl .dxfm-toolbar .dxmMenu .dxmMenuItem
{
	padding-top: 1px;
	padding-left: 3px;
	background: transparent none;
}
.dxfmControl .dxfm-toolbar .dxmMenu .dxfm-path input
{
	margin: 0px 8px 0px 4px;
}
.dxfmControl.dxfm-rtl .dxfm-toolbar .dxmMenu .dxfm-path input
{
	margin: 0px 4px 0px 8px;
}

/* FileManager - UploadPanel */

.dxfmControl .dxfm-uploadPanel
{
	background-color: #F0F2F4;
	text-align: right;
}
.dxfmControl.dxfm-rtl .dxfm-uploadPanel
{
	text-align: left;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane table.dxfm-uploadPanelTable
{
	margin-top: 20px;
	margin-left: 19px;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane table.dxfm-uploadPanelTable .dxucControl 
{
    width: 385px!important;
	margin-top: 0px;
	margin-right: 16px;
}
.dxfmControl.dxfm-rtl .dxfm-uploadPanel.dxsplPane table.dxfm-uploadPanelTable .dxucControl 
{
	margin-right: 0px;
	margin-left: 10px;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane table.dxfm-uploadPanelTable .dxucControl  .dxucProgressBar
{
    height: 39px!important;
    margin: -3px 0px;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane table.dxfm-uploadPanelTable td.dxfm-uploadPanelTableBCell a 
{
    display: block;
    width: 140px;
    padding: 8px 0px 7px;
    color: #303030;
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-decoration: none;
	text-shadow: 0 1px 0px White;
	text-align: center;
	vertical-align: middle;
	border: 1px solid;
	border-top-color: #78797A;
	border-left-color: #A0A1A2;
	border-right-color: #A0A1A2;
	border-bottom-color: #ACADAD;
	border-radius: 5px;
	background: #fbfbfb url('ucButtonBack.gif') repeat-x bottom;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane table.dxfm-uploadPanelTable td.dxfm-uploadPanelTableBCell a.dxfm-uploadDisable
{
	border-color: #78797A #9E9FA0 #ABACAD;
	color: #BBBBBB;
	text-decoration: none;
	cursor: default;
}

.dxfmControl .dxfm-uploadPanel.dxsplPane .dxucTextBox {
	padding: 3px 8px 2px;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane .dxucBrowseButton {
	padding: 2px 8px 3px;
}
.dxfmControl .dxfm-uploadPanel.dxsplPane .dxucSilverlightPluginLinkPanel {
	margin-top: -8px;
}

/* FileManager - Create, Rename input */

.dxfmControl .dxfm-cInput,
.dxfmControl .dxfm-rInput
{
	border: 1px solid #9f9f9f;
	border-radius: 5px;
	padding: 1px;
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	outline-width: 0px;
	margin: 0px;
}

/* FileManager - LoadingPanel */

.dxfmControl .dxfmLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxfmControl .dxfmLoadingPanel td.dx {
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxfmControl .dxfmLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxfmControl .dxfmLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxfmControl .dxfmLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxfmControl .dxfmLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxfmControl .dxfmLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.dxfmControl .dxfmLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxfmControl .dxfmLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

/* FileManager - Move PopupControl */
table[id$='MovePopup_PW-1'] > tbody > tr > td:not(.dxpcControl)
{
	display: none;
}
.dxfmControl .dxpcContentPaddings 
{
	padding: 5px 0px 0px;
	background-color: White;
	border-radius: 0 0 7px 7px;
}
.dxfmControl .dxpcContent .dxfm-mpFoldersC 
{
	overflow: auto;
	padding: 0px 0px 20px 5px;
}
.dxfmControl .dxpcContent .dxfm-mpButtonC
{
	margin-top: 20px;
	background-color: #F3F3F3;
	border-top: 1px solid #E0E0E0;
	text-align: right;
	padding: 10px 15px 10px 10px;
	border-radius: 0 0 7px 7px;
}
.dxfmControl .dxpcContent .dxfm-mpButtonC a 
{
	margin-left: 12px;
	color: #006EE9;
	font-size: 18px;
	font-weight: bold;
    text-decoration: none;
	border-bottom: 1px dashed #006EE9;
}


/* -- ASPxPager -- */
/* -- DataView Pager --*/
.dxdvControl .dxpButton 
{
    padding-left: 7px;
    padding-right: 7px;
}
.dxdvControl .dxpControl 
{
    color: #4F5459;
}
.dxdvControl .dxpControl td.dxpCtrl 
{
    background-image: url('pagerBack.png');
}
.dxdvControl .dxpPageNumber,
.dxdvControl .dxpSummary,
.dxdvControl .dxpPageSizeItem
{
    color:White;
}
.dxdvControl .dxpPageNumber
{
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5)!important;
}
.dxdvControl .dxpPageNumber a 
{
    display: inline-block;
    padding-top: 1px;
}

.dxdvControl .dxpCurrentPageNumber
{
    border: 1px Solid #505153!important;
    box-shadow: 0 1px 0 0 rgba(172, 176, 183, 0.3), inset 0 2px 2px 0 rgba(80, 81, 83, 0.3);    
    background-color:rgba(0,0,0,0.10);
}

.dxpControl
{
	font-size: 14px;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';	
}
.dxpControl td.dxpCtrl
{
	padding: 8px 2px 7px 2px;
}
.dxpControl a
{
	color: #7C7C7C;
	text-decoration: none;
}
.dxpButton
{
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
    padding-right: 5px;
}
.dxpDisabledButton
{
	color: #000000;
	text-decoration: none;
}
.dxpCurrentPageNumber.dxpPageNumber 
{
    display: block;
    height: 20px;
    padding-top: 1px;
    line-height: 20px;
}
.dxpPageNumber a 
{
    color: White;
}

.dxdvControl  .dxdvCtrl > TABLE > TBODY > TR:first-child > .dxdvPagerPanel 
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow:hidden;
}
.dxdvControl  .dxdvCtrl > TABLE > TBODY > TR:last-child > .dxdvPagerPanel 
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow:hidden;
}

.dxpPageNumber
{
    color: #7C7C7C;
	font-weight:bold;
	border: 1px Solid Transparent;	
	text-align: center;
	vertical-align: middle;
	padding-right: 17px;
    padding-left: 17px;
    padding-top: 1px;
}
.dxpCurrentPageNumber
{
    color: White;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	border-radius: 3px;
	background-color: #999A9A;
}
.dxpPageSizeItem
{
    color: #7C7C7C;
	font-weight: bold;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.dxpPageSizeItem > table
{
    margin: -2px 0px;
}
.dxpPageSizeItem .dx
{
    padding-top: 1px;
    white-space: nowrap;
}
.dxpComboBox
{
    background-color: White;
    border-color: #616262 #919293 #B2B3B4;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #A3A3A3 inset;
    padding: 1px;
}
.dxpHoverComboBox
{

}
.dxpPressedComboBox
{
}
.dxpComboBox input
{
    color: #385487;
    font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    font-weight: normal;
    font-size: small;
    padding: 0px;
    margin: 0px 2px;
    border-width: 0px;
    background-color: transparent;
    width: 40px;
}
.dxpDropDownButton
{
    cursor: pointer;
    padding: 0px;
}
.dxpHoverDropDownButton
{
}
.dxpPressedDropDownButton
{
}
.dxpSummary
{
	color: #7C7C7C;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding: 0px 4px;
}
.dxpSeparator
{
}
/* Disabled */
.dxpDisabled
{
	color: #BEBEBE;
	cursor: default;
}
.dxpDisabled .dxpCurrentPageNumber 
{
    color: #F8F8F9;
}


.dxpDisabledComboBox
{
    border: 1px solid #A3C0E8;
}
.dxpDisabledComboBox input
{
    color: #acacac;
}
.dxpDisabledDropDownButton
{
    cursor: default;
}

 
.dxpLiteDisabled,
.dxpLiteDisabled a,
.dxpLiteDisabled .dxp-summary,
.dxpLiteDisabled .dxp-sep,
.dxpLiteDisabled .dxp-button,
.dxpLiteDisabled .dxp-num,
.dxpLiteDisabled .dxp-ellip
{
	color: #BEBEBE;
	cursor: default;
}

.dxpLiteDisabled .dxp-current 
{
    color: #F8F8F9;
	cursor: default;
}

.dxpLite .dxp-disabledComboBox
{
    border: 1px solid #A3C0E8;
}
.dxpLite .dxp-disabledComboBox input
{
    color: #acacac;
}
.dxpLite .dxp-disabledDropDownButton
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxfmControl,
.dxnbGroupHeader,
.dxnbGroupHeaderCollapsed,
.dxnbGroupContent > TABLE > TBODY > TR,
.dxtcTab,
.dxtcActiveTab,
.dxtv-nd,
.dxpPageNumber,
.dxpButton,
.dxtcLite
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
