/* ASPxRoundPanel */
.dxWeb_pPopOut,
.dxWeb_pPopOutDisabled,
.dxWeb_pPopOutPressed,
.dxWeb_pPrev,
.dxWeb_pPrevDisabled,
.dxWeb_pNext,
.dxWeb_pNextDisabled,
.dxWeb_tcScrollLeft,
.dxWeb_tcScrollRight,
.dxWeb_pcCloseButton,
.dxWeb_pcSizeGrip,
.dxWeb_pcSizeGripRtl,
.dxWeb_nbExpand,
.dxWeb_nbCollapse,
.dxWeb_tvColBtn,
.dxWeb_tvColBtnRtl,
.dxWeb_tvExpBtn,
.dxWeb_tvExpBtnRtl,
.dxWeb_mHorizontalPopOut,
.dxWeb_mVerticalPopOut,
.dxWeb_mVerticalPopOutRtl,
.dxWeb_mSubMenuItem,
.dxWeb_mSubMenuItemChecked,
.dxsmLevel0 .dxWeb_smBullet,
.dxsmLevel0Categorized .dxWeb_smBullet,
.dxWeb_splVSeparator,
.dxWeb_splHSeparator,
.dxWeb_splVCollapseBackwardButton,
.dxWeb_splHCollapseBackwardButton,
.dxWeb_splVCollapseForwardButton,
.dxWeb_splHCollapseForwardButton,
.dxWeb_fmFolder,
.dxWeb_fmFolderLocked,
.dxWeb_fmCreateButton,
.dxWeb_fmMoveButton,
.dxWeb_fmRenameButton,
.dxWeb_fmShowDeleteButton,
.dxWeb_fmRefreshButton,
.dxWeb_fmDwnlButton,
.dxWeb_fmCreateButtonDisabled,
.dxWeb_fmMoveButtonDisabled,
.dxWeb_fmRenameButtonDisabled,
.dxWeb_fmShowDeleteButtonDisabled,
.dxWeb_fmRefreshButtonDisabled,
.dxWeb_fmDwnlButtonDisabled,
.dxfmControl .dxsplVSeparator .dxsplS
{
    background-color: transparent;
    background-image: url('sprite.png');
    -background-image: url('sprite.gif');
    background-repeat: no-repeat;
    display: block;
}

.dxWeb_edtCheckBoxChecked,
.dxWeb_edtCheckBoxUnchecked,
.dxWeb_edtCheckBoxGrayed,
.dxWeb_edtCheckBoxCheckedDisabled,
.dxWeb_edtCheckBoxUncheckedDisabled,
.dxWeb_edtCheckBoxGrayedDisabled {
	background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
	width: 27px;
    height: 28px;
}

.dxWeb_pcCloseButton 
{
    width: 35px;
    height: 29px;
    background-position: -204px -65px;
}

.dxpcAlert .dxWeb_pcCloseButton
{
    background-position: -18px -1px;
}

.dxWeb_pcSizeGrip,
.dxWeb_pcSizeGripRtl 
{
   width: 19px;
   height: 19px;
   padding: 1px;
}
.dxWeb_pcSizeGrip 
{
    background-position: -64px -35px;
}
.dxWeb_pcSizeGripRtl 
{
    background-position: -63px -8px;
}

.dxWeb_nbExpand
{
    width: 16px;
    height: 16px; 
    background-position: -95px -19px;
}

.dxWeb_nbCollapse
{
    width: 16px;
    height: 16px; 
    background-position: -92px -4px;
}

/* Pager */
.dxWeb_pPopOut,
.dxWeb_pPopOutPressed,
.dxWeb_pPopOutDisabled
{
    width:23px;
	height:23px;
}
.dxWeb_pPrev,
.dxWeb_pPrevDisabled,
.dxWeb_pNext,
.dxWeb_pNextDisabled
{
	width:52px;
	height:23px;
}
.dxWeb_pNext 
{
    background-position: -11px -127px;
}
.dxpRTL .dxWeb_pNext 
{
    background-position: -128px -127px;
}

.dxWeb_pNextDisabled
{
	background-position: -12px -154px;
}
.dxpRTL .dxWeb_pNextDisabled
{
	background-position: -129px -154px;
}

.dxWeb_pPopOut
{
    background-position: -116px -61px;
}
.dxWeb_pPopOutPressed
{
    background-position: -141px -61px;
}
.dxWeb_pPopOutDisabled
{
    background-position: -166px -61px;
}
.dxWeb_pPrev 
{
    background-position: -70px -127px;
}
.dxpRTL .dxWeb_pPrev 
{
    background-position: -187px -127px;
}

.dxWeb_pPrevDisabled
{
	background-position: -70px -154px;
}
.dxpRTL .dxWeb_pPrevDisabled
{
    background-position: -187px -154px;
}
/* DataView Pager */
.dxdvControl .dxWeb_pPrev,
.dxdvControl .dxWeb_pPrevDisabled,
.dxdvControl .dxWeb_pNext,
.dxdvControl .dxWeb_pNextDisabled
{
	width:52px;
	height:24px;
}

.dxdvControl .dxWeb_pNext 
{
    background-position: -11px -100px;
}

.dxdvControl .dxpRTL .dxWeb_pNext 
{
    background-position: -128px -100px;
}

.dxdvControl .dxWeb_pNextDisabled
{
    background-position: -12px -179px;
}
.dxdvControl .dxpRTL .dxWeb_pNextDisabled
{
    background-position: -129px -179px;
}

.dxdvControl .dxWeb_pPrev 
{
    background-position: -70px -100px;
}
.dxdvControl .dxpRTL .dxWeb_pPrev 
{
    background-position: -187px -100px;
}

.dxdvControl .dxWeb_pPrevDisabled
{	
     background-position: -70px -179px;
}
.dxdvControl .dxpRTL .dxWeb_pPrevDisabled
{	
     background-position: -187px -179px;
}

/* CheckBox */
.dxWeb_edtCheckBoxUnchecked {
	background-position: -31px -271px;
}
.dxWeb_edtCheckBoxChecked {
	background-position: -2px -271px;
}
.dxWeb_edtCheckBoxGrayed {
	background-position: -60px -271px;
}
.dxWeb_edtCheckBoxUncheckedDisabled {
	background-position: -31px -300px;
}
.dxWeb_edtCheckBoxCheckedDisabled {
	background-position: -2px -300px;
}
.dxWeb_edtCheckBoxGrayedDisabled {
	background-position: -60px -300px;
}

.dxWeb_tvColBtn,
.dxWeb_tvColBtnRtl,
.dxWeb_tvExpBtn,
.dxWeb_tvExpBtnRtl
{
    width: 11px;
    height: 11px;
}

.dxWeb_tvExpBtn
{
    background-position: -193px -3px;
}

.dxWeb_tvColBtn
{
    background-position: -177px -3px;
}

.dxWeb_tvColBtnRtl
{
     background-position: -177px -3px;
}

.dxWeb_tvExpBtnRtl
{
    background-position: -202px -2px;
}

.dxWeb_tcScrollLeft
{
	background-position: -23px -61px;
	width:45px;
	height:29px;
}
.dxWeb_tcScrollRight
{
	background-position: -68px -61px;
	width:44px;
	height:29px;
}


/* Splitter */
.dxWeb_splVSeparator {
    background-position: -239px -17px;
    width: 10px;
    height: 20px;
}

.dxWeb_splHSeparator {
    background-position: -217px -17px;
    width: 19px;
    height: 16px;
}

.dxWeb_splVCollapseBackwardButton {
    background-position: -193px -17px;
    width: 8px;
    height: 16px;
}

.dxWeb_splHCollapseBackwardButton {
    background-position: -155px -17px;
    width: 15px;
    height: 12px;
}

.dxWeb_splVCollapseForwardButton {
    background-position: -203px -17px;
    width: 10px;
    height: 16px;
}

.dxWeb_splHCollapseForwardButton {
    background-position: -174px -17px;
    width: 15px;
    height: 16px;
}

/* FileManager */
.dxfmControl .dxsplVSeparator>.dxsplS
{
	background-position: -239px -17px;
	width: 10px!important;
    height: 20px!important;
}

.dxWeb_fmFolder {
	background-position: 0px -205px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmFolderLocked {
	background-position: -33px -205px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmCreateButton {
	background-position: -66px -205px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmRenameButton {
	background-position: -99px -205px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmMoveButton {
	background-position: -132px -205px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmShowDeleteButton {
	background-position: -165px -205px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmRefreshButton {
	background-position: -198px -205px;
    width: 32px;
    height: 32px;
}
.dxWeb_fmDwnlButton {
	background-position: 0px -239px;
    width: 32px;
    height: 32px;
}
.dxWeb_fmDwnlButtonDisabled {
	background-position: -33px -239px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmCreateButtonDisabled {
	background-position: -66px -239px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmRenameButtonDisabled {
	background-position: -99px -239px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmMoveButtonDisabled {
	background-position: -132px -239px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmShowDeleteButtonDisabled {
	background-position: -165px -239px;
    width: 32px;
    height: 32px;
}

.dxWeb_fmRefreshButtonDisabled {
	background-position: -198px -239px;
    width: 32px;
    height: 32px;
}
