.dxEditors_edtError,
.dxEditors_edtCalendarPrevYear,
.dxEditors_edtCalendarPrevYearDisabled,
.dxEditors_edtCalendarPrevMonth,
.dxEditors_edtCalendarPrevMonthDisabled,
.dxEditors_edtCalendarNextMonth,
.dxEditors_edtCalendarNextMonthDisabled,
.dxEditors_edtCalendarNextYear,
.dxEditors_edtCalendarNextYearDisabled,
.dxEditors_edtCalendarFNPrevYear,
.dxEditors_edtCalendarFNNextYear,
.dxEditors_edtRadioButtonChecked,
.dxEditors_edtRadioButtonUnchecked,
.dxEditors_edtRadioButtonCheckedDisabled,
.dxEditors_edtRadioButtonUncheckedDisabled,
.dxEditors_edtEllipsis,
.dxEditors_edtEllipsisDisabled,
.dxEditors_edtDropDown,
.dxEditors_edtDropDownDisabled,
.dxEditors_edtSpinEditIncrementImage,
.dxEditors_edtSpinEditIncrementImageDisabled,
.dxEditors_edtSpinEditIncrementImagePressed,
.dxEditors_edtSpinEditDecrementImage,
.dxEditors_edtSpinEditDecrementImageDisabled,
.dxEditors_edtSpinEditDecrementImagePressed,
.dxEditors_edtSpinEditLargeIncImage,
.dxEditors_edtSpinEditLargeIncImageDisabled,
.dxEditors_edtSpinEditLargeIncImagePressed,
.dxEditors_edtSpinEditLargeDecImage,
.dxEditors_edtSpinEditLargeDecImageDisabled,
.dxEditors_edtSpinEditLargeDecImagePressed,
.dxEditors_fcadd,
.dxEditors_fcaddhot,
.dxEditors_fcremove,
.dxEditors_fcremovehot,
.dxEditors_fcgroupaddcondition,
.dxEditors_fcgroupaddgroup,
.dxEditors_fcgroupremove,
.dxEditors_fcopany,
.dxEditors_fcopbegin,
.dxEditors_fcopbetween,
.dxEditors_fcopcontain,
.dxEditors_fcopnotcontain,
.dxEditors_fcopnotequal,
.dxEditors_fcopend,
.dxEditors_fcopequal,
.dxEditors_fcopgreater,
.dxEditors_fcopgreaterorequal,
.dxEditors_fcopnotblank,
.dxEditors_fcopblank,
.dxEditors_fcopless,
.dxEditors_fcoplessorequal,
.dxEditors_fcoplike,
.dxEditors_fcopnotany,
.dxEditors_fcopnotbetween,
.dxEditors_fcopnotlike,
.dxEditors_fcgroupand,
.dxEditors_fcgroupor,
.dxEditors_fcgroupnotand,
.dxEditors_fcgroupnotor,
.dxEditors_caRefresh,
.dxEditors_edtTBDecBtn,
.dxEditors_edtTBIncBtn,
.dxEditors_edtTBMainDH,
.dxEditors_edtTBSecondaryDH,
.dxEditors_edtTBIncBtnDisabled,
.dxEditors_edtTBDecBtnDisabled,
.dxEditors_edtTBMainDHDisabled,
.dxEditors_edtTBSecondaryDHDisabled,
.dxEditors_edtCheckBoxSwitchOn,
.dxEditors_edtCheckBoxSwitchOff,
.dxEditors_edtCheckBoxSwitchOnDisabled,
.dxEditors_edtCheckBoxSwitchOffDisabled,
.dxEditors_edtRadioButtonListOn,
.dxEditors_edtRadioButtonListOnDisabled
{
    background-image: url('sprite.png');
    -background-image: url('sprite.gif');
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxEditors_edtError,
.dxEditors_edtCalendarPrevYear,
.dxEditors_edtCalendarPrevYearDisabled,
.dxEditors_edtCalendarPrevMonth,
.dxEditors_edtCalendarPrevMonthDisabled,
.dxEditors_edtCalendarNextMonth,
.dxEditors_edtCalendarNextMonthDisabled,
.dxEditors_edtCalendarNextYear,
.dxEditors_edtCalendarNextYearDisabled,
.dxEditors_edtCalendarFNPrevYear,
.dxEditors_edtCalendarFNNextYear,
.dxEditors_edtEllipsis,
.dxEditors_edtEllipsisDisabled,
.dxEditors_edtDropDown,
.dxEditors_edtDropDownDisabled,
.dxEditors_edtSpinEditIncrementImage,
.dxEditors_edtSpinEditIncrementImageDisabled,
.dxEditors_edtSpinEditDecrementImage,
.dxEditors_edtSpinEditDecrementImageDisabled,
.dxEditors_edtSpinEditLargeIncImage,
.dxEditors_edtSpinEditLargeIncImageDisabled,
.dxEditors_edtSpinEditLargeDecImage,
.dxEditors_edtSpinEditLargeDecImageDisabled
{
	display:block;
    margin:auto;
}

.dxEditors_edtError {
    background-position: -1px -243px;
    width: 14px;
    height: 14px;
}

/* SpinEdit */
.dxEditors_edtSpinEditIncrementImage,
.dxEditors_edtSpinEditIncrementImageDisabled,
.dxEditors_edtSpinEditIncrementImagePressed,
.dxEditors_edtSpinEditDecrementImage,
.dxEditors_edtSpinEditDecrementImageDisabled,
.dxEditors_edtSpinEditDecrementImagePressed
{
    display: block;
	margin: auto;
	width: 39px;
    height: 19px;
}
.dxEditors_edtSpinEditLargeIncImage,
.dxEditors_edtSpinEditLargeDecImage,
.dxEditors_edtSpinEditLargeIncImageDisabled,
.dxEditors_edtSpinEditLargeDecImageDisabled,
.dxEditors_edtSpinEditLargeIncImagePressed,
.dxEditors_edtSpinEditLargeDecImagePressed
{
	display: block;
	margin: auto;
	width: 39px;
    height: 39px;
}

.dxEditors_edtSpinEditIncrementImage
{
    background-position: -213px -1px;
}
.dxEditors_edtSpinEditIncrementImageDisabled  
{
    background-position: -213px -41px;
}

.dxEditors_edtSpinEditIncrementImagePressed,
.dxeSpinIncButtonPressed .dxEditors_edtSpinEditIncrementImage
{ 
	background-position: -213px -81px;
}
.dxEditors_edtSpinEditDecrementImage
{
    background-position: -213px -21px; 
}
.dxEditors_edtSpinEditDecrementImageDisabled  
{
    background-position: -213px -61px; 
}
.dxEditors_edtSpinEditDecrementImagePressed ,
.dxeSpinDecButtonPressed .dxEditors_edtSpinEditDecrementImage
{ 
	background-position: -213px -101px; 
}
.dxEditors_edtSpinEditLargeIncImage
{ 
    background-position: -253px -1px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled 
{ 
    background-position: -253px -41px;
}
.dxEditors_edtSpinEditLargeIncImagePressed 
{ 
	background-position: -253px -81px; 
}
.dxEditors_edtSpinEditLargeDecImage
{ 
    background-position: -173px -1px; 
}
.dxEditors_edtSpinEditLargeDecImageDisabled 
{ 
    background-position: -173px -41px; 
}
.dxEditors_edtSpinEditLargeDecImagePressed 
{ 
	background-position: -173px -81px; 
}

/* RadioButtonList */
.dxEditors_edtRadioButtonListOn,
.dxEditors_edtRadioButtonListOnDisabled,
.dxEditors_edtRadioButtonListOff,
.dxEditors_edtRadioButtonListOffDisabled
{
    width: 22px;
    height: 22px;
}

.dxEditors_edtRadioButtonListOn
{
    background-position: -10px -145px;
}

.dxEditors_edtRadioButtonListOnDisabled
{
    background-position: -50px -134px;
}

.dxEditors_edtRadioButtonListOff,
.dxEditors_edtRadioButtonListOffDisabled
{
    background-color: transparent;
}

/* TrackBar */
.dxEditors_edtTBDecBtn, .dxEditors_edtTBIncBtn,
.dxEditors_edtTBDecBtnHover, .dxEditors_edtTBIncBtnHover,
.dxEditors_edtTBDecBtnPressed, .dxEditors_edtTBIncBtnPressed,
.dxEditors_edtTBDecBtnDisabled, .dxEditors_edtTBIncBtnDisabled
{
	width: 15px;
	height: 15px;
}

.dxEditors_edtTBMainDH, .dxeTBHSys .dxEditors_edtTBSecondaryDH,
.dxEditors_edtTBMainDHHover, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover,
.dxEditors_edtTBMainDHPressed, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed,
.dxEditors_edtTBMainDHDisabled, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled
{
	width: 23px;
	height: 23px;
}

.dxEditors_edtTBDecBtn
{
	background-position: -6px -63px;
}
.dxEditors_edtTBDecBtnHover
{
	background-position: -6px -63px;
}
.dxEditors_edtTBDecBtnPressed
{
	background-position: -123px -132px;
}
.dxEditors_edtTBDecBtnDisabled
{
	background-position: -124px -63px;
}

.dxEditors_edtTBIncBtn
{
	background-position: -33px -63px;
}
.dxEditors_edtTBIncBtnHover
{
	background-position: -33px -63px;
}
.dxEditors_edtTBIncBtnPressed
{ 
	background-position: -95px -132px;
}
.dxEditors_edtTBIncBtnDisabled
{
	background-position: -95px -63px;
}

.dxEditors_edtTBMainDH,
.dxEditors_edtTBSecondaryDH
{
	background-position: -68px -65px;
}

.dxEditors_edtTBMainDHPressed,
.dxEditors_edtTBSecondaryDHPressed
{
	background-position: -126px -100px;
	z-index: 7;
}

.dxEditors_edtTBMainDHDisabled,
.dxEditors_edtTBSecondaryDHDisabled
{
	visibility: hidden;
}

/* Switch */
.dxEditors_edtCheckBoxSwitchOn,
.dxEditors_edtCheckBoxSwitchOff,
.dxEditors_edtCheckBoxSwitchOnDisabled,
.dxEditors_edtCheckBoxSwitchOffDisabled
{
    width: 65px;
    height: 25px;
    border: 1px Solid #B4B4B4!important;
}
.dxEditors_edtCheckBoxSwitchOn 
{
    background-position: -3px -25px;
    -webkit-animation-name: 'switchOn';
    -webkit-animation-fill-mode : forwards;
	-webkit-animation-duration: 0.3s;
}
.dxEditors_edtCheckBoxSwitchOff 
{
    background-position: -43px -25px;
    -webkit-animation-name: 'switchOff';
    -webkit-animation-fill-mode : forwards;
	-webkit-animation-duration: 0.3s;
}
.dxEditors_edtCheckBoxSwitchOnDisabled 
{
    background-position: -3px -99px;
}
.dxEditors_edtCheckBoxSwitchOffDisabled 
{
    background-position: -43px -99px;
}

@-webkit-keyframes 'switchOn' {
    from { background-position: -43px -25px; }
    to { background-position: -3px -25px; }	
}
@-webkit-keyframes 'switchOff' {
    from { background-position: -3px -25px; }
    to { background-position: -43px -25px; }	
}

/* RadioButton */
.dxEditors_edtRadioButtonChecked,
.dxEditors_edtRadioButtonUnchecked,
.dxEditors_edtRadioButtonCheckedDisabled,
.dxEditors_edtRadioButtonUncheckedDisabled {
    width: 27px;
    height: 28px;
}

.dxEditors_edtRadioButtonUnchecked {
	background-position: -144px -168px; 
}
.dxEditors_edtRadioButtonChecked {
	background-position: -144px -198px; 
}
.dxEditors_edtRadioButtonUncheckedDisabled {
	background-position: -173px -168px; 
}
.dxEditors_edtRadioButtonCheckedDisabled {
	background-position: -173px -198px; 
}

/* Calendar */
.dxEditors_edtCalendarPrevYear 
{
    background-position: -129px -2px;
    width: 17px;
    height: 15px;
}

.dxEditors_edtCalendarPrevYearDisabled /*TODO */
{
    background-position: -129px -2px;
    width: 17px;
    height: 15px;
}

.dxEditors_edtCalendarPrevMonth 
{
    background-position: -117px -2px;
    width: 10px;
    height: 15px;
}

.dxEditors_edtCalendarPrevMonthDisabled /*TODO*/
{
	background-position: -117px -2px;
    width: 10px;
    height: 15px;
}

.dxEditors_edtCalendarNextMonth 
{
    background-position: -117px -19px;
    width: 10px;
    height: 15px;
}

.dxEditors_edtCalendarNextMonthDisabled { /*TODO*/
    background-position: -117px -19px;
    width: 10px;
    height: 15px;
}

.dxEditors_edtCalendarNextYear 
{
	background-position: -129px -19px;
    width: 17px;
    height: 15px;
}

.dxEditors_edtCalendarNextYearDisabled /* TODO */
{
	background-position: -129px -19px;
    width: 17px;
    height: 15px;
}

.dxEditors_edtCalendarFNPrevYear /* TODO */
{
	background-position: -117px -2px;
    width: 10px;
    height: 15px;
}

.dxEditors_edtCalendarFNNextYear 
{
	background-position: -117px -19px;
    width: 10px;
    height: 15px;
}

.dxEditors_edtDropDown
{
	background-position: -1px -163px;
    width: 39px;
    height: 24px;
}
.dxEditors_edtDropDownDisabled
{
	background-position: -81px -163px;
    width: 39px;
    height: 24px;
}
.dxeButtonEditButtonPressed .dxEditors_edtDropDown
{
	background-position: -41px -163px;
    width: 39px;
    height: 24px;
}

.dxgvFilterRow .dxEditors_edtDropDown,
.dxgvFilterRow .dxEditors_edtDropDownDisabled,
.dxmtb.dxmMenu .dxEditors_edtDropDown,
.dxmtb.dxmMenu .dxEditors_edtDropDownDisabled,
.dxmLite .dxm-horizontal.dxmtb .dxEditors_edtDropDown,
.dxmLite .dxm-horizontal.dxmtb .dxEditors_edtDropDownDisabled
{
	background-position: -15px -180px;
    width: 11px;
    height: 6px;
}

.dxEditors_edtEllipsis
{
	background-position: -1px -203px;
    width: 39px;
    height: 24px;
}
.dxEditors_edtEllipsisDisabled
{
	background-position: -81px -203px;
    width: 39px;
    height: 24px;
}

.dxeButtonEditButtonPressed .dxEditors_edtEllipsis
{
	background-position: -41px -203px;
    width: 39px;
    height: 24px;
}

/* Filter Control*/
.dxEditors_fcadd,
.dxEditors_fcaddhot,
.dxEditors_fcremove,
.dxEditors_fcremovehot,
.dxEditors_fcgroupaddcondition,
.dxEditors_fcgroupaddgroup,
.dxEditors_fcgroupremove,
.dxEditors_fcopany,
.dxEditors_fcopbegin,
.dxEditors_fcopbetween,
.dxEditors_fcopcontain,
.dxEditors_fcopnotcontain,
.dxEditors_fcopnotequal,
.dxEditors_fcopend,
.dxEditors_fcopequal,
.dxEditors_fcopgreater,
.dxEditors_fcopgreaterorequal,
.dxEditors_fcopnotblank,
.dxEditors_fcopblank,
.dxEditors_fcopless,
.dxEditors_fcoplessorequal,
.dxEditors_fcoplike,
.dxEditors_fcopnotany,
.dxEditors_fcopnotbetween,
.dxEditors_fcopnotlike,
.dxEditors_fcgroupand,
.dxEditors_fcgroupor,
.dxEditors_fcgroupnotand,
.dxEditors_fcgroupnotor {
	width: 13px;
    height: 13px;
}

.dxEditors_fcadd {
    background-position: 0px -260px;
}

.dxEditors_fcaddhot {
    background-position: -21px -260px;
}

.dxEditors_fcremove {
    background-position: -42px -260px;
}

.dxEditors_fcremovehot {
    background-position: -63px -260px;
}

.dxEditors_fcgroupaddcondition {
    background-position: -210px -260px;
}

.dxEditors_fcgroupaddgroup {
    background-position: -189px -260px;
}

.dxEditors_fcgroupremove {
    background-position: -126px -260px;
}

.dxEditors_fcopany {
    background-position: 0px -281px;
}

.dxEditors_fcopbegin {
    background-position: -42px -281px;
}

.dxEditors_fcopbetween {
    background-position: -84px -281px;
}

.dxEditors_fcopcontain {
    background-position: -105px -302px;
}

.dxEditors_fcopnotcontain {
    background-position: -147px -302px;
}

.dxEditors_fcopnotequal {
    background-position: -168px -281px;
}

.dxEditors_fcopend {
    background-position: -63px -281px;
}

.dxEditors_fcopequal {
    background-position: 0px -302px;
}

.dxEditors_fcopgreater {
    background-position: -21px -302px;
}

.dxEditors_fcopgreaterorequal {
    background-position: -42px -302px;
}

.dxEditors_fcopnotblank {
    background-position: -105px -281px;
}

.dxEditors_fcopblank {
    background-position: -126px -281px;
}

.dxEditors_fcopless {
    background-position: -63px -302px;
}

.dxEditors_fcoplessorequal {
    background-position: -84px -302px;
}

.dxEditors_fcoplike {
    background-position: -126px -302px;
}

.dxEditors_fcopnotany {
    background-position: -21px -281px;
}

.dxEditors_fcopnotbetween {
    background-position: -147px -281px;
}

.dxEditors_fcopnotlike {
    background-position: -168px -302px;
}

.dxEditors_fcgroupand {
    background-position: -84px -260px;
}

.dxEditors_fcgroupor {
    background-position: -168px -260px;
}

.dxEditors_fcgroupnotand {
    background-position: -105px -260px;
}

.dxEditors_fcgroupnotor {
    background-position: -147px -260px;
}

.dxEditors_caRefresh
{
    background-position: -173px -136px;
    width: 25px;
    height: 25px;
}
