/* -- Popup Control -- */
[id$='_DDD_PW-1']
{
	border-radius:10px;
}
[id$='_DDD_PWST-1']
{
    box-shadow: 0 0 30px #A9A9A9;
    border-radius:10px;
}

.dxeBase
{
	font: normal 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #4C566C;
}

.dxeDisabled {
}

/* -- Focused Style -- */
.dxeFocused input
{
}

/* -- TrackBar -- */
.dxeTrackBar
{
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled .dxeTBHSys a,
.dxeDisabled .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight
{
	font-size: 0;
}

.dxeTBScale, .dxeTBTrack, dxeTBBarHighlight
{
	cursor: pointer;
}

.dxeTBScale 
{
	z-index: 1;
	font-size: 12px;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-weight: bold;
}
.dxeTBSecondaryDH, .dxeTBMainDH
{
	z-index: 4;
}

.dxeTBHSys
{
	width: 170px;
	height: 58px;
}
.dxeTBVSys
{
	height: 170px;
	width: 58px;
}
.dxeTrackBar.dxeTBBScaleSys.dxeTBVSys
{
	width: 83px;
}
.dxeTrackBar.dxeTBBScaleSys.dxeTBHSys
{	
	height: 83px;	
}

.dxeTBTrack, .dxeTBBarHighlight 
{
    border-radius: 4px;
}

.dxeDisabled .dxeTBTrack 
{
    overflow: hidden;
}
.dxeDisabled .dxeTBBarHighlight
{
    border-radius: 0px;
}

.dxeTBTrack 
{
	z-index: 2;
	position: absolute;
	border: 1px Solid; 
}

.dxeTBHSys .dxeTBTrack  {
    border-color: #898B8E #898B8E #A5A7AB #898B8E;
}
.dxeTBVSys .dxeTBTrack  {
    border-color: #898B8E #898B8E #898B8E #A5A7AB;
}	

.dxeTBHSys .dxeTBTrack, .dxeTBHSys .dxeTBBarHighlight
{
	height: 7px;
}
.dxeTBVSys .dxeTBTrack, .dxeTBVSys .dxeTBBarHighlight
{
	width: 7px;
}

.dxeTBMainDH, .dxeTBSecondaryDH 
{
	width:23px;
	height:23px;
}

.dxeTBHSys .dxeTBMainDH, .dxeTBHSys .dxeTBSecondaryDH
{	
	top: -8px;
}
.dxeTBVSys .dxeTBMainDH, .dxeTBVSys .dxeTBSecondaryDH
{
	left: -8px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack, .dxeTBVSys .dxeTBTrack
{
	left: 9px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack
{
	right: 9px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack
{
	bottom: 9px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack, .dxeTBHSys .dxeTBTrack
{
	top: 9px;
}

.dxeTBHSys .dxeTBBarHighlight 
{
	top: -1px;
}
.dxeTBVSys .dxeTBBarHighlight 
{
	left: -1px;
}

.dxeTBBarHighlight
{
	left: 0px;
	top: 0px;
	border: 1px Solid #4F81CA;
	background-color: #3F80E3;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBTrack
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack
{
	background-image:  url('edtTrackBarTrackV.gif');
}
.dxeTBHSys .dxeTBBarHighlight
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}
.dxeTBHSys .dxeTBItem
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBRBLabel, .dxeTBLTLabel
{
	text-align: center;
	color: #4C566C;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel, .dxeTBSmallTickSys .dxeTBLTLabel,
.dxeTBLargeTickSys .dxeTBRBLabel, .dxeTBLargeTickSys .dxeTBLTLabel 
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel,.dxeTBHSys .dxeTBLTLabel
{
	width: 100%;
}

.dxeTBIncBtn, .dxeTBDecBtn
{
	padding: 6px;
	width: 15px;
	height: 15px;
}

.dxeTBVSys .dxeTBRBLabel, 
.dxeTBVSys .dxeTBLTLabel
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel
{
	top: 0px;
}
.dxeTBItem
{
	color: #A8A8A8;
}

.dxeTBHSys .dxeTBItem .dxeTBRBLabel, 
.dxeTBHSys .dxeTBItem .dxeTBLTLabel 
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys 
.dxeTBItem .dxeTBRBLabel
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys 
.dxeTBItem .dxeTBLTLabel
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem .dxeTBRBLabel 
{
	margin-left: 5px;
}

.dxeTBSelectedItem .dxeTBRBLabel,
.dxeTBSelectedItem .dxeTBLTLabel,
.dxeTBSelectedTick .dxeTBRBLabel, 
.dxeTBSelectedTick .dxeTBLTLabel
{
	color: #C3C3C3;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem
{
	text-align: center;
}

.dxeTBVSys .dxeTBIncBtn, .dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn, .dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn, .dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn, .dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn
{
	margin-left: -13px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn
{
	margin-top: -13px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack
{ 
	margin-top: -4px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn, 
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn
{
	right: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn, 
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn
{
	bottom: 0px;
}

.dxeTBValueToolTip
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    background: white;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
    font-family:'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    font-size: 14px;
}

/* -- Loading Panel -- */
.dxeLoadingDiv
{
	background-color: Black;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=60);
}
.dxeLoadingDivWithContent
{
	background: White none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxeLoadingPanel,
.dxeLoadingPanelWithContent
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxeLoadingPanel td.dx,
.dxeLoadingPanelWithContent
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxeLoadingPanel td.dx:first-child,
.dxeLoadingPanelWithContent td.dx:first-child,
*[dir="rtl"] .dxeLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxeLoadingPanelWithContent td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxeLoadingPanel td.dx:last-child,
.dxeLoadingPanelWithContent td.dx:last-child,
*[dir="rtl"] .dxeLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxeLoadingPanelWithContent td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxeLoadingPanel td.dx:first-child:last-child,
.dxeLoadingPanelWithContent td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxeLoadingPanel td.dx + td.dx,
.dxeLoadingPanelWithContent td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxeLoadingPanel td.dx + td.dx,
*[dir="rtl"] .dxeLoadingPanelWithContent td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

/* InternalCheckBox */
.dxeIRBFocused
{
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.dxeIRadioButton
{
	display: inline-block;
	vertical-align: middle;
}

/* Switch */
.dxeSwitchFocused,
.dxeSwitch
{
    -webkit-border-radius: 14px!important;
    -moz-border-radius: 14px!important;
    border-radius: 14px!important;
}

/* -- ErrorFrame -- */
.dxeErrorCell,
.dxeErrorCell td
{
	font: 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Red;
}
.dxeErrorCell
{
	padding-left: 4px;
	padding-right: 5px;
}
.dxeErrorFrameWithoutError
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError .dxeControlsCell
{
	padding: 2px;
}

.dxeEditArea
{
	font: 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;
}
.dxeMemoEditArea,
input.dxeEditArea
{
	outline: none;
}

/* -- Buttons -- */
.dxeButtonEditButton,
.dxeButtonEditButton td.dx,
.dxeCalendarButton,
.dxeCalendarButton td.dx,
.dxeSpinIncButton,
.dxeSpinDecButton,
.dxeSpinLargeIncButton,
.dxeSpinLargeDecButton,
.dxeSpinIncButton td.dx,
.dxeSpinDecButton td.dx,
.dxeSpinLargeIncButton td.dx,
.dxeSpinLargeDecButton td.dx
{
	color: #303030;
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-shadow: 0 1px 0px #ECECEC;
	vertical-align: middle;
	white-space: nowrap;
}
.dxeButtonEditButton,
.dxeSpinIncButton,
.dxeSpinDecButton,
.dxeSpinLargeIncButton,
.dxeSpinLargeDecButton
{
	vertical-align: middle;
	cursor: pointer;
	background: White none;
}
.dxeButtonEditButton,
.dxeButtonEdit .dxeSBC
{
	border-style: solid;
	border-color: Transparent;
	-border-color: White;
}
.dxeButtonEditButton.dxeButtonEditButtonPressed
{
}
.dxeButtonEditButton.dxeDisabled
{
	border-color: Transparent;
	-border-color: White;
}
.dxeButtonEditButton
{
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
}
.dxeButtonEdit .dxeButtonLeft
{
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
}
.dxeButtonEdit .dxeSBC
{
	border-width: 0;
}
.dxeSpinIncButton,
.dxeSpinDecButton,
.dxeSpinLargeIncButton,
.dxeSpinLargeDecButton
{
	border-width: 0;
}

.dxeButtonEditButton,
.dxeSpinLargeIncButton,
.dxeSpinLargeDecButton,
.dxeSpinIncButton,
.dxeSpinDecButton
{
	background-color: transparent;
}

.dxeButtonEditButton table.dxbebt
{
	padding: 1px 10px;
}
.dxeButtonEditButton table.dxbebt .dx img
{
	margin: 0px -9px;
}

.dxeSpinIncButton table.dxbebt,
.dxeSpinDecButton table.dxbebt,
.dxeSpinLargeIncButton table.dxbebt,
.dxeSpinLargeDecButton table.dxbebt
{
	padding: 0;
}

.dxeSpinIncButton
{
	padding: 1px 0px 2px 0px;
}
.dxeSpinDecButton
{
	padding: 3px 0px 2px 0px;
}
.dxeSpinLargeIncButton,
.dxeSpinLargeDecButton
{
}

.dxeButtonEditButton table.dxbebt,
.dxeSpinLargeIncButton table.dxbebt,
.dxeSpinLargeDecButton table.dxbebt
{
	width: 9px;
}
.dxeSpinIncButton table.dxbebt,
.dxeSpinDecButton table.dxbebt
{
	width: 15px;
}
.dxeCalendarButton table.dxbebt
{
	cursor: pointer;
	border: 1px solid #B3B5B9;
	border-radius: 5px;
	background: #E1E1E1 url('edtButtonBack.png') repeat-x top;
	width: 100%;
}
.dxeCalendarButtonPressed table.dxbebt
{
	background: #444950 url('edtButtonPressedBack.png') repeat-x top;
	color: White;
}
.dxeCalendarButton  table.dxbebt td.dx
{
	padding: 7px 0;
	text-align: center;
	border-width: 0px;
	background: transparent url('')!important;
}
/* -- Pressed -- */
.dxeButtonEditButtonPressed,
.dxeSpinIncButtonPressed,
.dxeSpinDecButtonPressed,
.dxeSpinLargeIncButtonPressed, 
.dxeSpinLargeDecButtonPressed
{
}
/* -- Hover -- */
.dxeButtonEditButtonHover,
.dxeSpinIncButtonHover,
.dxeSpinDecButtonHover,
.dxeSpinLargeIncButtonHover,
.dxeSpinLargeDecButtonHover
{
}
/* -- Button Edit -- */
.dxeButtonEdit
{
	background-color: white;
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;
	width: 280px;
}
.dxeButtonEdit .dxeEditArea,
.dxeButtonEdit td.dxic
{
	width: 100%;
}
.dxeButtonEdit .dxeIIC,
.dxeButtonEdit .dxeIICR
{
	padding: 1px;
}
.dxeButtonEdit .dxeIIC img
{
	padding-left: 3px;
}
.dxeButtonEdit .dxeIICR img
{
	padding-right: 3px;
}

/* Disabled */
.dxeDisabled .dxeButtonEditButton,
.dxeDisabled .dxeSpinIncButton,
.dxeDisabled .dxeSpinDecButton,
.dxeDisabled .dxeSpinLargeIncButton,
.dxeDisabled .dxeSpinLargeDecButton
{
	background: transparent none;
}
/* -- Memo -- */
.dxeMemo
{
}
.dxeMemoEditArea
{
}
.dxeMemo td
{
	padding: 0 0 0 1px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink,
a.dxeHyperlink:hover
{
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-weight: bold;
	font-size: 18px;
	color: #006EE9;
	text-decoration: underline;
}
a.dxeHyperlink:visited
{
	color: #af4380;
}

/* -- ListBox -- */
.dxeListBox
{
	width: 70px;
	height: 109px;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	font-size: small;
	font-weight: normal;
	color: Black;
	background-color: white;
	border: 1px solid #AFB1B6;
	border-radius: 10px;
}
@-moz-document url-prefix()
{
	.dxeListBox,
	.dxeListBox > tbody > tr > td
	{
		overflow: hidden;
	}
}
.dxeListBox > tbody > tr > td
{
	border-radius: 10px;
}
.dxeListBox div.dxlbd
{
	height: 50px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.dxeListBox .dxeHD + .dxlbd
{
	margin-top: 0px;
	border-radius: 0 0 10px 10px;
}
.dxeListBoxItemRow
{
	cursor: default;
}
.dxeListBoxItem
{
	padding: 2px 10px 2px 10px;
	white-space: nowrap;
	text-align: left;
	border-width: 0;
	border-bottom: 1px solid #E0E0E0;
	height: 32px;
}
tr.dxeListBoxItemRow:last-child > .dxeListBoxItem
{
	border-bottom-width:0;
}
.dxeListBoxItem em
{
	background: #000000 none repeat 0 0;
	color: #FFFFFF;
	font-weight: normal;
	font-style: normal;
}

.dxeListBox td.dxeI,
.dxeListBox td.dxeIM,
.dxeListBox .dxeHIC, 
.dxeListBox td.dxeFTM,
.dxeListBox td.dxeTM,
.dxeListBox td.dxeC,
.dxeListBox td.dxeCM,
.dxeListBox td.dxeHCC,
.dxeListBox td.dxeMI,
.dxeListBox td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox td.dxeIR,
.dxeListBox td.dxeIMR,
.dxeListBox .dxeHICR, 
.dxeListBox td.dxeFTMR,
.dxeListBox td.dxeTMR,
.dxeListBox td.dxeCR,
.dxeListBox td.dxeCMR,
.dxeListBox td.dxeHCCR,
.dxeListBox td.dxeMIR,
.dxeListBox td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox td.dxeCM,
.dxeListBox td.dxeHCC,
.dxeListBox td.dxeCMR,
.dxeListBox td.dxeHCCR
{
	width: 25px;
}

.dxeListBox td.dxeIM,
.dxeListBox td.dxeIMR
{
	width: 0;
}
.dxeListBox td.dxeC
{
	padding-right: 10px !important;
}
.dxeListBox td.dxeCR
{
	padding-left: 10px !important;
}
.dxeListBox td.dxeCM
{
	padding-right: 6px;
}
.dxeListBox td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}


.dxeListBox td.dxeT,
.dxeListBox td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox td.dxeTR,
.dxeListBox td.dxeMIR
{
	border-right-width: 0!important;
}
.dxeListBox td.dxeFTM,
.dxeListBox td.dxeTM,
.dxeListBox td.dxeLTM,
.dxeListBox .dxeHFC,
.dxeListBox .dxeHC,
.dxeListBox .dxeHLC,
.dxeListBox td.dxeFTMR,
.dxeListBox td.dxeTMR,
.dxeListBox td.dxeLTMR,
.dxeListBox .dxeHFCR,
.dxeListBox .dxeHCR,
.dxeListBox .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox td.dxeFTM,
.dxeListBox td.dxeTM,
.dxeListBox .dxeHFC,
.dxeListBox .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox td.dxeFTMR,
.dxeListBox td.dxeTMR,
.dxeListBox .dxeHFCR,
.dxeListBox .dxeHCR
{
	padding-left: 10px!important;
}

.dxeListBox td.dxeLTM,
.dxeListBox td.dxeTM
{
	padding-left: 11px!important;
}
.dxeListBox .dxeHC,
.dxeListBox .dxeHLC
{
	padding-left: 10px!important;
}

.dxeListBox td.dxeLTMR,
.dxeListBox td.dxeTMR
{
	padding-right: 10px!important;
}
.dxeListBox .dxeHCR,
.dxeListBox .dxeHLCR
{
	padding-right: 10px!important;
}

.dxeListBox .dxeFTM,
.dxeListBox .dxeTM,
.dxeListBox .dxeHFC,
.dxeListBox .dxeHC,
.dxeListBox .dxeLTM,
.dxeListBox .dxeTM,
.dxeListBox .dxeHC,
.dxeListBox .dxeHLC,
.dxeListBox td.dxeIM,
.dxeListBox td.dxeFTM,
.dxeListBox td.dxeTM,
.dxeListBox td.dxeCM,
.dxeListBox td.dxeMIM,
.dxeListBox .dxeFTMR,
.dxeListBox .dxeTMR,
.dxeListBox .dxeHFCR,
.dxeListBox .dxeHCR,
.dxeListBox .dxeLTMR,
.dxeListBox .dxeTMR,
.dxeListBox .dxeHCR,
.dxeListBox .dxeHLCR,
.dxeListBox td.dxeIMR,
.dxeListBox td.dxeFTMR,
.dxeListBox td.dxeTMR,
.dxeListBox td.dxeCMR,
.dxeListBox td.dxeMIMR
{
	border-top-width: 0;
	border-bottom-width: 0;
}
/*Grid lines*/
.dxeListBox td.dxeLTM,
.dxeListBox td.dxeTM,
.dxeListBox td.dxeMIM
{
}
.dxeListBox td.dxeLTMR,
.dxeListBox td.dxeTMR,
.dxeListBox td.dxeMIMR
{
}
.dxeListBox td.dxeIM,
.dxeListBox td.dxeFTM,
.dxeListBox td.dxeTM,
.dxeListBox td.dxeLTM,
.dxeListBox td.dxeCM,
.dxeListBox td.dxeMIM,
.dxeListBox td.dxeIMR,
.dxeListBox td.dxeFTMR,
.dxeListBox td.dxeTMR,
.dxeListBox td.dxeLTMR,
.dxeListBox td.dxeCMR,
.dxeListBox td.dxeMIMR
{
	border-bottom: 1px solid #d9dae0;
}

.dxeListBoxItemSelected     /* inherits dxeListBoxItem */
{
	color: white;
	background: #015EE6 url('edtListBoxItemSelectedBack.gif') repeat-x top;
}
.dxeListBoxItemSelected.dxeDisabled
{
	background: #BCBCBB url('edtListBoxItemSelectedDisabledBack.gif') repeat-x top;
}
.dxlbcc .dxeListBoxItemSelected,
.dxlbcc  .dxeListBoxItemSelected.dxeDisabled 
{
    color: Black;
    background: White;
}
.dxeListBoxItemHover        /* inherits dxeListBoxItem */
{
}
.dxeListBoxItemHover em,
.dxeListBoxItemSelected em
{
	background-image: none;
}
/*Header*/
.dxeListBox .dxeHD
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #abacb9;
}
.dxeHD .dxeListBoxItem
{
	color: #4C566C;
	text-shadow: 0 1px 1px #F8F9FA;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dxeListBox .dxeHC,
.dxeListBox .dxeHLC,
.dxeListBox td.dxeHMIC
{
	border-left: 1px solid #cacbd3;
}

.dxeListBox .dxeHCR,
.dxeListBox .dxeHLCR,
.dxeListBox td.dxeHMICR
{
	border-right: 1px solid #cacbd3;
	text-align: right;
}

.dxeListBox .dxeHIC,
.dxeListBox .dxeHFC,
.dxeListBox .dxeHCC
{
}

.dxeListBox .dxeHICR,
.dxeListBox .dxeHFCR,
.dxeListBox .dxeHCCR
{
}

.dxeListBox .dxeHFC,
.dxeListBox .dxeHC,
.dxeListBox .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox .dxeHFCR,
.dxeListBox .dxeHCR,
.dxeListBox .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox .dxeHLC
{
}

.dxeListBox .dxeHLCR
{
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar
{
	font-weight: bold;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #979797;
	border: 1px solid #9DA0A3;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: White;
	cursor: default;
	line-height: 0.9em;
	border-radius: 10px;
	border-collapse: separate !important;
}
.dxeCalendar td.dxMonthGrid table,
.dxeCalendar td.dxMonthGridWithWeekNumbers table,
.dxeCalendar td.dxMonthGridWithWeekNumbersRtl table
{
	border-spacing: 12px 0px;
}
.dxeCalendar td.dxMonthGrid 
{
	padding: 13px 33px 15px;
}
.dxeCalendar td.dxMonthGridWithWeekNumbers
{
	padding: 13px 33px 15px 13px;
}
.dxeCalendar td.dxMonthGridWithWeekNumbersRtl
{
	padding: 13px 13px 15px 33px;
}
.dxeCalendarDayHeader
{
	font-size: 13px;
	border-style: none;
	padding: 6px 0px;
}
.dxeCalendarWeekNumber
{
	font-size: 14px;
	padding: 4px 6px 0;
	color: #E0E0E0;
}
.dxeCalendarDay
{
	font-size: 18px;
	text-align: center;
	padding: 8px 9px;
}
.dxeCalendarWeekend        /* inherits dxeCalendarDay */
{
	color: #C81B1B;
}
.dxeCalendarOtherMonth     /* inherits dxeCalendarDay */
{
	color: #E0E0E0;
}
.dxeCalendarOutOfRange     /* inherits dxeCalendarDay */
{
	color: #E0E0E0;
}
.dxeCalendarSelected       /* inherits dxeCalendarDay */
{
	color: #FFF;
	background-color: #1879F2;
	border-radius: 3px;
}
.dxeCalendarToday         /* inherits dxeCalendarDay */
{
	color: #FFF;
	background-color: #B2B2B2;
	border-radius: 3px;
}
.dxeCalendarHeader
{
	font-size: 18px;
	padding: 15px;
}
.dxeCalendarHeader td.dxe
{
	text-align: center;
	cursor: pointer;
	padding: 5px;
}
.dxeCalendarFooter
{
	padding: 18px 0 22px;
}
.dxeCalendarFastNav
{
	color: #979797;
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	background: White none;
	background-clip: padding-box;
	border-top: 1px solid #9DA0A3;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-right: 1px solid #9DA0A3;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: none;
	border-left: 1px solid #9DA0A3;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.35);
	
	padding: 10px 8px 17px;
	cursor: default;
}
.dxeCalendarFastNavMonthArea table
{
	border-spacing: 6px 0px;
	padding-bottom: 8px;
}
.dxeCalendarFastNavYearArea
{
	padding: 5px 0 3px;
}
.dxeCalendarFastNavYearArea table
{
	border-spacing: 6px 3px;
	padding-bottom: 2px;
}
.dxeCalendarFastNavYearArea > table > tbody > tr > td:first-child 
{
	padding-left: 8px;
}
.dxeCalendarFastNavYearArea > table > tbody > tr > td:last-child 
{
	padding-right: 8px;
}
.dxeCalendarFastNavFooter
{
	color: #979797;
	background: White none;
	padding-bottom: 17px;
	background-clip: padding-box;
	border-top: none;
	border-right: 1px solid #9DA0A3;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid #9DA0A3;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	border-left: 1px solid #9DA0A3;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
	box-shadow: 0px -26px 0px -1px #FFF, 0px 10px 35px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px -26px 0px -1px #FFF, 0px 10px 35px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px -26px 0px -1px #FFF, 0px 10px 35px rgba(0, 0, 0, 0.35);
}
.dxeCalendarFastNavMonth,
.dxeCalendarFastNavYear
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavYear
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonth
{
	padding: 6px;
}

.dxeCalendarFastNavYearSelected
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonthSelected
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected,
.dxeCalendarFastNavYearSelected
{
	color: #FFF;
	background-color: #1879F2;
	border-radius: 3px;
}
/* Disabled*/
.dxeDisabled.dxeCalendar
{
	background-color: #F0F0F0;
}
.dxeDisabled .dxeCalendarFooter,
.dxeDisabled .dxeCalendarHeader 
{
	background-color: transparent;
}

/* -- Button -- */
.dxbButton
{
	color: #303030;
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	text-shadow: 0 1px 0px White;
	vertical-align: middle;
	border: 1px solid;
	border-top-color: #78797A;
	border-left-color: #A0A1A2;
	border-right-color: #A0A1A2;
	border-bottom-color: #ACADAD;
	border-radius: 5px;
	background: #E1E1E1 url('edtButtonBack.png') repeat-x top;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.dxbButton.dxbDisabled 
{
    color: #BBBBBB;
    border-top-color: #78797A;
    border-right-color: #9E9FA0;
    border-left-color: #9E9FA0;
    border-bottom-color: #ABACAD;
    background: #DEDEDE url('edtButtonBackDisabled.png') repeat-x top;
}

.dxbButtonHover {}
.dxbButtonPressed, .dxbButtonChecked
{
    border-color: #0C4876;
    color: White;
	background: #015EE5 url('edtButtonPressedBack.png') repeat-x top;
	text-shadow: none;
}
.dxbButton div.dxb
{
	padding: 0px 19px;
	border-width: 0px;
}
.dxbButton div.dxbf
{
}
.dxbButtonHover div.dxbf
{
}
.dxbButton div.dxb td.dxb
{
	background: transparent url('')!important;
	border-width: 0px!important;
	padding: 0px!important;
}

/* -- FilterControl -- */
.dxfcTable
{
	border-collapse: separate!important;
}
.dxfcTable td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #201f35;
}
a.dxfcPropertyName
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxfcLoadingDiv
{
	background: white none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxfcLoadingPanel
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxfcLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxfcLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxfcLoadingPanel td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
}
.dxfcLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxfcLoadingPanel td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;	
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxfcLoadingPanel td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxfcLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxfcLoadingPanel td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

.dxeMaskHint
{
	font: 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Black;
	background: #ffffe1 none;
	padding: 2px 5px 3px;
	border: 1px solid Black;
}

/* -- ProgressBar -- */
.dxeProgressBar
{
	background: #EEE url('edtProgressBack.png') repeat-x left top;
	border-right: 1px solid #989A9D;
	border-radius: 4px;
	box-shadow: -1px 0 1px rgba(0, 0, 0, 0.10) inset, 0 1px 0 rgba(255, 255, 255, 0.50);
	overflow: hidden;
}
.dxeProgressBar[dir="rtl"]
{
	border-right: none;
	border-left: 1px solid #989A9D;
}
.dxeProgressBar,
.dxeProgressBar td.dxe
{
	font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: #FFF;
	text-shadow: -1px -1px 2px #3A79DD, 1px -1px 2px #3A79DD, -1px 1px 2px #3A79DD, 1px 1px 2px #3A79DD,
		-1px 0px 2px #3A79DD, 1px 0px 2px #3A79DD, 0px 1px 2px #3A79DD, 0px -1px 2px #3A79DD;
}
.dxeProgressBar .dxePBMainCell,
.dxeProgressBar td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator
{
	background: #4C8CEC url('edtProgressIndicatorBack.png') repeat-x left top;
	border-left: 1px solid #376EC3;
	border-right: 1px solid #376EC3;
	
	border-left: 1px solid rgba(6, 32, 76, 0.27);
	border-right: 1px solid rgba(6, 32, 76, 0.27);
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.10);
}
.dxeProgressBar[dir="rtl"] .dxeProgressBarIndicator
{
	box-shadow: -1px 0 1px rgba(0, 0, 0, 0.10);
}
/* Disabled */
.dxeDisabled .dxePBMainCell table
{
	background: none;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow
{
	background-color: white;
	border: 1px solid #9da0aa;
	border-radius: 10px;
}
/*----------------- ColorTable -----------------*/
.dxeColorIndicator
{
	border: 1px solid #9da0aa;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-left: 10px;
}
.dxeColorTable
{
	background-color: White;
	border: 1px solid #9da0aa;
	border-radius: 10px;
}
.dxeItemPicker
{
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxeColorTable td.dx,
.dxeItemPicker td.dx
{
	padding: 16px;
}
.dxeColorTableCell,
.dxeItemPickerCell
{
	padding: 4px;
	cursor: pointer;
}
.dxeColorTableCellDiv
{
	border-radius: 2px;
	width: 31px;
	height: 31px;
	font-size: 0px;
}
.dxeColorTableCellSelected
{
	padding: 2px!important;
	border: 2px solid #C2C2C2;
	border-radius: 5px;
}
.dxeColorTableCellHover,
.dxeItemPickerCellHover
{
	padding: 2px!important;
	border: 2px solid #C2C2C2;
	border-radius: 5px;
}

/* -- Invalid Style -- */
.dxeInvalid
{
}
.dxeInvalid .dxeEditArea,
.dxeInvalid .dxeMemoEditArea
{
}

/* -- Focused Style -- */
.dxeFocused
{
	border-top: 1px solid #434756;
	border-right: 1px solid #7d808d;
	border-bottom: 1px solid #aaacb9;
	border-left: 1px solid #7d808d;
}

.dxeFocused.dxeTrackBar
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText .dxeEditArea,
.dxeNullText .dxeMemoEditArea
{
	color: #b1b1b8;
}

/* -- Captcha -- */
.dxcaControl
{
    padding: 20px;
    background-color: #e2e5ea;
    width: 425px;
}

.dxcaControl .dxca-imageDiv
{
    border-radius: 5px;
}

.dxcaRefreshButton
{
    font: bold 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    color: #006EE9;
    text-decoration: none;
}

.dxcaDisabledRefreshButton
{
    color: #b1b1b8;
}

.dxcaRefreshButtonCell
{
    vertical-align: top !important;
    padding: 2px 8px !important;
}

.dxcaRefreshButtonText
{
    font: bold 16px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    color: #006EE9;
}

.dxcaDisabledRefreshButtonText
{
    color: #A6A6A6;
}


.dxcaTextBoxCell, 
.dxcaTextBoxCellNoIndent
{
    color: #303030;
    font: normal 12px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
}

.dxcaTextBoxCell .dxeErrorCell
{
}

.dxcaTextBoxCellNoIndent .dxeErrorCell
{
    padding-left: 0px;
    padding-top: 4px;
    color: Red;
}

.dxcaTextBoxLabel
{
    padding-bottom: 4px;
    display: block;
}

.dxcaLoadingPanel, .dxcaLoadingPanelWithContent
{
    font: bold 18px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    color: Black;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    border-collapse: separate !important;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
    background-clip: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
}

.dxcaLoadingPanel td.dx,
.dxcaLoadingPanelWithContent
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxcaLoadingPanel td.dx:first-child,
.dxcaLoadingPanelWithContent td.dx:first-child,
*[dir="rtl"] .dxcaLoadingPanel td.dx:last-child,
*[dir="rtl"] .dxcaLoadingPanelWithContent td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxcaLoadingPanel td.dx:last-child,
.dxcaLoadingPanelWithContent td.dx:last-child,
*[dir="rtl"] .dxcaLoadingPanel td.dx:first-child,
*[dir="rtl"] .dxcaLoadingPanelWithContent td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxcaLoadingPanel td.dx:first-child:last-child,
.dxcaLoadingPanelWithContent td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxcaLoadingPanel td.dx + td.dx,
.dxcaLoadingPanelWithContent td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxcaLoadingPanel td.dx + td.dx,
*[dir="rtl"] .dxcaLoadingPanelWithContent td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

.dxeButtonEdit
{
	border-collapse: separate!important;
}

/* Text Box */
.dxeDisabled.dxeTextBox,
.dxeDisabled.dxeButtonEdit,
.dxeDisabled.dxeMemo
{
    border-color: #AFB1B6;
}

.dxeDisabled 
{
    color: #BCBCBC;
    cursor: default;
}
.dxeDisabled .dxeEditArea,
.dxeDisabled .dxeMemoEditArea
{
    color: #BCBCBC!important;
    background-color: White;
}

.dxeEditArea 
{
    height:auto!important;
}

.dxeTextBox,
.dxeButtonEdit,
.dxeMemo
{
    background-color: white;
    border-color: #AFB1B6;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 1px rgba(0, 0, 0, .08) inset,
				0 1px rgba(255, 255, 255, .5);
    overflow:hidden;
    cursor: default;
}

.dxeTextBox td.dxic 
{
    padding: 9px 6px 6px 8px!important;
}
.dxeButtonEdit td.dxic
{
	padding: 7px 9px 8px 9px!important;
}
.dxeTextBox td.dxic
{
	width: 100%;
}
.dxeTextBox .dxeEditArea,
.dxeButtonEdit .dxeEditArea,
.dxeMemoEditArea
{
    font-size: small; 
    color: #385487;
    font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
    background-color: transparent;
}

.dxeNullText .dxeEditArea, 
.dxeNullText .dxeMemoEditArea 
{
    color: #A6A6A6;
}

/* ASPxRadioButtonList, ASPxCheckBoxList */
.dxeDisabled.dxeRadioButtonList,
.dxeDisabled.dxeCheckBoxList 
{
    color: #BCBCBB;
}

.dxeRadioButtonList,
.dxeCheckBoxList
{
	border: 1px Solid #AFB1B6;
	border-radius: 10px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.dxeCheckBoxList .dxe > table,
.dxeRadioButtonList .dxe > table 
{
    width: 100%;
}

.dxeCheckBoxList .dxe > table > tbody tr > td > table,
.dxeRadioButtonList .dxe > table > tbody tr > td > table 
{
    border-bottom: 1px Solid #E0E0E0;
} 
.dxeCheckBoxList .dxe > table > tbody tr:last-child > td > table,
.dxeRadioButtonList .dxe > table > tbody tr:last-child > td > table
{
    border-bottom-width: 0px;
}

.dxeCheckBoxList .dxe > table > tbody tr:first-child > td,
.dxeRadioButtonList .dxe > table > tbody tr:first-child > td 
{
    padding-top: 10px;
}
.dxeCheckBoxList .dxe > table > tbody tr:last-child > td,
.dxeRadioButtonList .dxe > table > tbody tr:last-child > td 
{
    padding-bottom: 10px;
}

.dxeCheckBoxList .dxe table,
.dxeCheckBoxList .dxe table tr > td,
.dxeRadioButtonList .dxe table,
.dxeRadioButtonList .dxe table tr > td
{
    width: 100%;
}

.dxeRadioButtonList,
.dxeRadioButtonList table,
.dxeCheckBoxList,
.dxeCheckBoxList table
{
	font-size: small;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
}
.dxeRadioButtonList td.dxe,
.dxeCheckBoxList td.dxe
{
}

.dxeRadioButtonList,
.dxeCheckBoxList,
.dxeIRadioButton
{
    cursor: default;
}
.dxeRadioButtonList .dxeIRadioButton
{
    margin: 8px 8px 6px 6px;
}
.dxeCheckBoxList  .dxICheckBox 
{
    margin: 5px;
}

.dxeRadioButtonList label,
.dxeCheckBoxList label
{
	margin-right: 6px;
	margin-left: 10px;
	font-weight: bold;
	font-size: small;
	font-family: 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
}

.dxeRadioButtonList img,
.dxeCheckBoxList img
{
	margin-bottom: -4px;
    padding-right: 5px;
}

.dxeButtonEdit
{
	border-collapse: separate!important;
}

/* -- ValidationSummary -- */

.dxvsValidationSummary
{
	font: bold 13px 'Visual Geez Unicode', Nyala, 'Power Geez Unicode1';
	color: Red;
}
.dxvsValidationSummary td.dxvsRC
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary table.dxvsHT
{
	width: 100%;
}
.dxvsValidationSummary td.dxvsH
{
	padding: 2px 0;
}
.dxvsValidationSummary a.dxvsHL,
.dxvsValidationSummary a.dxvsHL:visited
{
	color: red;
}
.dxvsValidationSummary a.dxvsHL
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary a.dxvsHL:hover
{
	color: #f70;
}
.dxvsValidationSummary td.dxvsETC
{
	padding: 2px 0;
}
.dxvsValidationSummary li.dxvsE
{
	padding: 2px 0;
}

.dxpcControl .dxHFBPS,
.dxpcLite .dxHFBPS
{
    width: 7px;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar, 
.dxeIRadioButton, 
.dxeButtonEdit, 
.dxeTextBox, 
.dxeRadioButtonList, 
.dxeCheckBoxList, 
.dxeMemo, 
.dxeListBox, 
.dxeCalendar, 
.dxeColorTable
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

