﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.master" AutoEventWireup="true" CodeFile="TeamAndTeamMembers.aspx.cs" Inherits="Pages_TeamAndTeamMembers" %>

<%@ Register Src="~/Pages/TeamAndMembersl.ascx" TagPrefix="uc1" TagName="TeamAndMembersl" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainPlaceHolder" Runat="Server">
    <uc1:TeamAndMembersl runat="server" id="TeamAndMembersl" />
</asp:Content>

